<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>adminLogin</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

    <div class="admin-login-wrap col-sm-12">
        <!-- admin 로그인 헤더 -->
        <header class="admin-login-header bg">
            <div class="admin-head">
                <h1 class="admin-head-title">
                    나만 따라 YU
                    <span>관리자 로그인</span>
                </h1>
            </div>
        </header>

        <main class="admin-login-main-wrap col-sm-12">
            <div class="admin-login-main-content">
                <article>
                    <section>
                        <div class="admin-login-page">
                            <div class="admin-login-inputbox">
                                <!-- 로그인 폼 -->
                                <div class="admin-login-inner">
                                    <form id="admin-login" method="post">
                                        <fieldset>
                                            <input name="adminId" th:type="text" class="int id bg" placeholder="관리자 아이디">
                                            <input name="adminPw" th:type="text" class="int pw bg" placeholder="관리자 비밀번호">
                                            <button type="submit" class="admin-login-button">로그인</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </main>
    </div>
</body>
</html>