<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/adminBasic}">

<th:block layout:fragment="title">
    <title>YU LectureEvaluation List</title>
</th:block>

<th:block layout:fragment="middle">
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">신고하기</h5>
                    <button type="button" id="closeModalButton" class="close" data-dismiss="modal" aria-label="Close" onClick="clearReport()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <textarea class="form-control nonesize" id="reportContent" name="reportContent" maxlength="100" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-right" style="margin-bottom:10px; margin-right:10px;">
                        <button type="button" onClick = "return sendReport()" class="btn-blue" data-toggle ="modal" data-target="#reportModal" data-backdrop ="static">접수</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="article">
        <div class="container-fluid">
            <div class="col-sm-auto article-header">
                <h2 style="color:red">강의평가 [검색 결과]</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">과목이름</th>
                            <th scope="col">별점</th>
                            <th scope="col">교수이름</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    <th:block th:each="lectureEvaluation,num :${lectureEvaluationList}">
                        <tr class="accordion-toggle collapsed" th:id="'accordion'+${num.count}" data-toggle="collapse" th:data-parent="'#accordion'+${num.count}"  th:href="'#collapse'+${num.count}">
                            <td th:id="lec_title+${lectureEvaluation.getLno()}" class="expand-button" th:text="${lectureEvaluation.getLecturename()}"></td>
                            <td>
                                <th:block th:each="num:${#numbers.sequence(1,5)}">
                                    <span th:if="${lectureEvaluation.getStar()}>=${num}">★</span>
                                    <span th:unless="${lectureEvaluation.getStar()}>=${num}">☆</span>
                                </th:block>
                            </td>
                        	<td th:text="${lectureEvaluation.getProfessor()}"></td>
                        	<td th:text="${lectureEvaluation.getNickname()}"></td>
                        	<td th:text="${lectureEvaluation.getRegister_date()}"></td>
                        </tr>
                        <tr class="hide-table-padding">
                            <td colspan="1">
                                <div th:id="'collapse'+${num.count}" class="collapse in p-3">
                                    강의평
                                </div>
                            </td>
                            <td colspan="2">
                                <div th:id="'collapse'+${num.count}" class="collapse in p-3" th:text="${lectureEvaluation.getContent()}">
                                </div>
                            </td>
                            <td> <button type="button" class="btn-grey" th:onClick="|return deleteLecture(${lectureEvaluation.getLno()});|">삭제</button></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <hr style="margin:0"/><br>


            <div class="clear">
                <div class="float-right">
                    Total <b style="color:red">[[${lectureEvaluationList.getTotalPages()}]]</b> Pages / <b style="color:red">[[${lectureEvaluationList.getTotalElements()}]]</b> Elements
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li id="pagefirst">
                        <a th:href=" '?page=0'">
                            <span class="page-link">«</span>
                        </a>
                    </li>
                    <li style="cursor:pointer" id="pagePrev" class="page-item disabled">
                        <a th:onClick="|return pageMove('prev');|">
                            <span class="page-link">&lt;</span>
                        </a>
                    </li>
                    <li class="page-item" style="cursor:pointer" th:if="${lectureEvaluationList.getTotalPages()}>0" th:id="page+${num}" th:each="num: ${#numbers.sequence(0, lectureEvaluationList.getTotalPages()-1)}">
                        <a th:if="${lectureEvaluationList.getNumber()} == ${num}" style="color:red; font-weight:bold;" class="page-link" th:href="'?text=' + ${text}  + '&date=' + ${date} + '&option=' + ${option} + '&page=' + ${num}" th:text="${num+1}"></a>
                        <a th:unless="${lectureEvaluationList.getNumber()} == ${num}" class="page-link" th:href="'?text=' + ${text}  + '&date=' + ${date} + '&option=' + ${option} + '&page=' + ${num}" th:text="${num+1}"></a>
                    </li>
                    <li id="pageNext">
                        <a style="cursor:pointer" th:onClick="|return pageMove('next');|">
                            <span class="page-link">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${lectureEvaluationList.getTotalPages()}>0" th:href="'?text=' + ${text}  + '&date=' + ${date} + '&option=' + ${option} + '&page=' + ${lectureEvaluationList.getTotalPages()-1}">
                            <span class="page-link">»</span>
                        </a>
                        <a th:if="${lectureEvaluationList.getTotalPages()}==0" th:href="'?text=' + ${text}  + '&date=' + ${date} + '&option=' + ${option} + '&page=' + ${lectureEvaluationList.getTotalPages()}">
                            <span class="page-link">»</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="search-wrap1 clear">
                <!-- 옵션 -->
                <form class="input-group" onsubmit="return false;">
                    <div class="search-option-wrap fl">
                        <select id="searchDate" class="search-date">
                            <option value="all">전체기간</option>
                            <option value="1week">1주</option>
                            <option value="1month">1개월</option>
                            <option value="6month">6개월</option>
                        </select>
                        <select id="searchOption" class="search-option">
                            <option value="title">강의명</option>
                            <option value="professor">교수명</option>
                            <option value="content">내용</option>
                            <option value="writer">글작성자</option>
                        </select>
                    </div>
                    <!-- 검색어 입력창 -->
                    <input id="searchBox" class="form-control " maxlength = "100" onKeypress = "if(event.keyCode==13) {return searchLectureEvaluation()}" placeholder="검색어를 입력해 주세요"  style="border-radius: 5px; border: 2px solid #4a57a8;">
                    <img th:src="@{/images/돋보기.png}" width="100%" class="btn glass" type="button" onClick="return searchLectureEvaluation()">
                    </form>
                </div>
            </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        var pages = getParameterByName("page");
        var lno;
        var reported_title;

    	if([[${lectureEvaluationList.getTotalElements()}]] == 0) {
    		var tr = document.createElement("tr");
    		var th = document.createElement("th");
    		
    		th.colSpan = 6;
    		th.style.fontSize = "15px";
    		th.style.textAlign = "center";
    		th.innerHTML = "검색 결과가 없습니다";
    		tr.appendChild(th);
    		$("#tbody").append(tr);
    	}

        $("#searchBox").val("[[${text}]]");
        $("#searchBox").focus();
        $("#searchDate").val("[[${date}]]").prop("selected", true);
        $("#searchType").val("[[${type}]]").prop("selected", true);
        $("#searchOption").val("[[${option}]]").prop("selected", true);
        
        if(pages == "") {
            pages=0;
        }
        $("#page"+pages).attr("class","active");

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function pageMove(param) {
            var pageNum = parseInt(getParameterByName("page"));
            var nextOrPrev;
            if(isNaN(pageNum)) pageNum = 0;
            nextOrPrev = (param == "next") ? 1 : -1;

            if(pageNum + nextOrPrev < 0) return false;
            else if(pageNum + nextOrPrev > [[${lectureEvaluationList.getTotalPages()}]] - 1) return false;

            location.href = "?text=" + "[[${text}]]"  + "&date=" + "[[${date}]]" + "&option=" + "[[${option}]]" + '&page=' + (pageNum + nextOrPrev);
            return true;
        }
        
        function searchLectureEvaluation() {
        	var text = $("#searchBox");
        	var date = $("#searchDate option:selected");
        	var option = $("#searchOption option:selected");
        	
        	if(text.val().trim() == "") {
        		alert("검색어를 입력하세요");
        		return false;
        	}
        	else if(text.val().length < 2) {
        		alert("검색어는 2글자 이상이어야 합니다");
        		return false;
        	}

        	var chgText = text.val().trim();
    		chgText = chgText.replace(/ +/g, " ");
    		chgText = chgText.replace(/%/gi, '%25');
    		chgText = chgText.replace(/\\/gi, '%5C');
        	


        	location.href = "/yu/admin/searchLectureEvaluationList?text=" +
        			chgText + "&date=" + date.val() + "&option=" + option.val();
        }
        function deleteLecture(lno){
            if(confirm("게시글을 삭제하시겠습니까?")) {
                $.ajax({
                    type: "PUT",
                    url : "/yu/deleteLecture",
                    data : {
                        lno : lno
                    },
                    success : function(data){
                        if(data == true) {
                            alert("게시글 삭제 성공");
                            location.href = '/yu/admin/lectureEvaluationList';
                        }
                        else
                            alert("게시글 삭제 실패");
                    },error : function(){
                        alert("Error");
                        return false;
                    }
                });
            }
            else return false;
        }
    </script>
</th:block>
</html>