<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">


<th:block layout:fragment="title">
  <title>YU LectureEvaluation List</title>
</th:block>

<th:block layout:fragment="article">
      <div class="container-fluid">
        <div class="card bg-light mt-3">
          <div class="card-header bg-light">
            <h2>수강중인 과목</h2><br><button th:if="${lList.size()}==0" id="lectureInsert" type="button" class="lecture-update-btn btn-blue" onClick="lectureInsert()">과목 불러오기</button>
          </div>
          <div class="card-header bg-light" th:each="lecture :${lList}">
            <div class="row">
              <div class="col-8 text-left">
                <span th:text="${lecture.getLecturenum()}"></span> /
                <span th:text="${lecture.getLecturename()}"></span> /
                <small th:text="${lecture.getProfessor()}">   </small>
                <button th:if="${lecture.getCheck_evaluation()}=='F'" id="lectureUpdate" type="button" class="btn-blue" th:onClick="|lectureEval(${lecture.getLno()})|">평가하기</button>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="card bg-light mt-3">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab">최근 강의평</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <div class="card-header bg-light" th:each="lectureEvaluation: ${lEList}">
                <div class="row">
                  <div class="col-12 text-left">
                    <a class="col-4" th:href="@{'/yu/lectureevaluation/ViewLectureEvaluation/'+${lectureEvaluation.getLno()}}" th:text="${lectureEvaluation.getLecturename()}"></a>
                    <th:block th:each="num:${#numbers.sequence(1,5)}">
                      <span  th:if="${lectureEvaluation.getStar()}>=${num}">★</span>
                      <span  th:unless="${lectureEvaluation.getStar()}>=${num}">☆</span>
                    </th:block>
                    <small class="col-4" th:text=" ${lectureEvaluation.getProfessor()}"></small>
                    <span class="col-4" th:text=" ${lectureEvaluation.getRegister_date()}"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn-blue float-right" style="margin-top : 10px;" onclick="location.href='/yu/lecture/lectureList'">전체보기</button>
        </div>

        <!--여기까지-->
        <div class="search-wrap1 clear">
          <!-- 옵션 -->
          <form class="input-group" onsubmit="return false;">
            <div class="search-option-wrap fl">
              <select id="searchDate" class="search-date">
                <option value="all">전체기간</option>
                <option value="1week">1주</option>
                <option value="1month">1개월</option>
                <option value="6month">6개월</option>
              </select>
              <select id="searchOption" class="search-option">
                <option value="title">강의명</option>
                <option value="professor">교수명</option>
                <option value="content">내용</option>
                <option value="writer">글작성자</option>
              </select>
            </div>
            <!-- 검색어 입력창 -->
            <input id="searchBox" class="form-control " onKeypress = "if(event.keyCode==13) {return searchLectureEvaluation()}" placeholder="검색어를 입력해 주세요"  style="border-radius: 5px; border: 2px solid #4a57a8;">
            <img th:src="@{/images/돋보기.png}" width="100%" class="btn glass" type="button" onClick="searchLectureEvaluation()">
          </form>
        </div>
      </div>
</th:block>
<th:block layout:fragment="script">
  <script>
    function lectureEval(lno){
      location.href = "/yu/lecture/EvalLecture?lno=" + lno;
    }
    function lectureInsert(){
      $('#lectureInsert').hide();
      alert("4~8초 정도 기다려주세요.");
      $.ajax({
        type: "POST",
        url: "/yu/lecture/insertLecture",
        success: function (data) {
          if (data) {
            alert("불러오기 성공");
          } else
            alert("불러오기 실패");
          location.href = location.href;
        }, error: function () {
          alert("불러오기 실패");
          return false;
        }
      });
      return false;
    }
    $('a[data-toggle="tab"]').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('a[data-toggle="tab"]').on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href");
      localStorage.setItem('selectedTab', id)
    });

    var selectedTab = localStorage.getItem('selectedTab');
    if (selectedTab != null) {
      $('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
    }
    
    function searchLectureEvaluation() {
    	var text = $("#searchBox");
    	var date = $("#searchDate option:selected");
    	var option = $("#searchOption option:selected");
    	
    	if(text.val().trim() == "") {
    		alert("검색어를 입력하세요");
    		return false;
    	}
    	else if(text.val().length < 2) {
    		alert("검색어는 2글자 이상이어야 합니다");
    		return false;
    	}

    	var chgText = text.val().trim();
		chgText = chgText.replace(/ +/g, " ");
		chgText = chgText.replace(/%/gi, '%25');
		chgText = chgText.replace(/\\/gi, '%5C');
		
		var searchData = {
				sid: "[[${session.studentInfo.getSid()}]]",
				word: chgText
		};
		
    	$.ajax ({
    		type: "POST",
    		url: "/yu/searchWordInsert",
            data: searchData,
            success: function (data) {
            }, error: function () {
                alert("error");
            }
    	});

    	location.href = "/yu/search/searchLectureEvaluationList?text=" +
    			chgText + "&date=" + date.val() + "&option=" + option.val();
    }
  </script>
</th:block>
</html>
