<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="script">
	<script type="text/javascript"> 
    	var pages = getParameterByName("page");
    	var clickCommentCno;
    	
    	if(pages == ""){
        	pages = 0;
    	}
   		 $("#page" + pages).attr("class","active");
  
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        
        function pageMove(param) {
        	var boardNumber = document.getElementsByName("boardNumber")[0].id;
        	var pageNum = parseInt(getParameterByName("page"));
        	var nextOrPrev;
        	
        	if(isNaN(pageNum)) pageNum = 0;
        	nextOrPrev = (param == "next") ? 1 : -1;
        	
        	if(pageNum + nextOrPrev < 0) return false;
        	else if(pageNum + nextOrPrev > [[${boardCommentList.getTotalPages()}]] - 1) return false;
        	
        	location.href = "/board/boardView/" + boardNumber + "?page=" + (pageNum + nextOrPrev);
        	return true;
        }
        
        function cancelCommentForm(part) {
        	document.getElementById(part + "commentForm").style.display = "none";
        	document.getElementById(part + "cTextArea").value = "";
        }
        
        function registerComment(part) {
        	var boardNumber = document.getElementsByName("boardNumber")[0].id;
        	var sid = $("#" + part + "csid");
        	var nickname = $("#" + part + "cnickname");
        	var content = $("#" + part + "cTextArea");
        	var ccno;
        	
        	if(sid.val() == "") {
        		alert("학번 입력");
        		sid.focus();
        		return false;
        	}
        	if(nickname.val() == "") {
        		alert("닉네임 입력");
        		nickname.focus();
        		return false;
        	}
        	if(content.val() == "") {
        		alert("내용 입력");
        		content.focus();
        		return false;
        	}
        	
        	ccno = (part == "") ? 0 : clickCommentCno;
        	
        	$.ajax({
        	    type: "POST",
        	    url : "/boardComment/insertBoardComment",
        	    data : {
        	    	bno : boardNumber,
        	    	ccno : ccno,
        	    	sid : sid.val(),
        	    	nickname : nickname.val(),
        	        content : content.val(),
        	    },
        	    success : function(data){
        	    	if(data == true) {
        	        	alert("댓글 등록 성공");
        	        	cancelCommentForm(part);
        	        	location.href = location.href;
        	    	}
        	    	else
        	    		alert("댓글 등록 실패");
        	    },error : function(){
        	        alert("Error");
        	        return false;
        	    }
        	});
        }
        
        function deleteComment(cno) {
        	if(confirm("선택된 댓글을 삭제하시겠습니까?")) {
        		var boardNumber = document.getElementsByName("boardNumber")[0].id;
        		
            	$.ajax({
            	    type: "PUT",
            	    url : "/boardComment/deleteBoardComment",
            	    data : {
            	    	cno : cno
            	    },
            	    success : function(data){
            	    	if(data == true) {
            	        	alert("댓글 삭제 성공");
            	        	location.href = location.href;
            	    	}
            	    	else
            	    		alert("댓글 삭제 실패");
            	    },error : function(){
            	        alert("Error");
            	        return false;
            	    }
            	});
        	}
        	else return false;
        }
        
        function showCommentByCommentForm(cno) {
        	clickCommentCno = cno;
        	document.getElementById("ccommentForm").style.display = "block";
        }
        
        function showUpdateCommentForm(cno) {
        	var selectTr = $("#bc" + cno);
        	var selectTd = selectTr.children();
        	
        	clickCommentCno = cno;
        	document.getElementById("light").style.display = "block";
        	document.getElementById("fade").style.display = "block";
        	document.getElementById("beforeCommentTextArea").value = 
        		(selectTd.eq(0).text() == "") ? selectTd.eq(4).text() : selectTd.eq(3).text();
        	document.getElementById("mcommentForm").style.display = "block";
        }
        
        function cancelUpdateCommentForm() {
        	document.getElementById("light").style.display = "none";
        	document.getElementById("fade").style.display = "none";
        	cancelCommentForm("m");
        }
        
        function updateComment(cno) {
        	var boardNumber = document.getElementsByName("boardNumber")[0].id;
        	var sid = $("#ucsid");
        	var nickname = $("#ucnickname");
        	var content = $("#ucTextArea");
        	
        	if(sid.val() == "") {
        		alert("학번 입력");
        		sid.focus();
        		return false;
        	}
        	if(nickname.val() == "") {
        		alert("닉네임 입력");
        		nickname.focus();
        		return false;
        	}
        	if(content.val() == "") {
        		alert("내용 입력");
        		content.focus();
        		return false;
        	}
        	
        	$.ajax({
        	    type: "PUT",
        	    url : "/boardComment/updateBoardComment",
        	    data : {
        	    	bno : boardNumber,
        	    	cno : clickCommentCno,
        	    	content : content.val()
        	    },
        	    success : function(data){
        	    	if(data == true) {
        	        	alert("댓글 수정 성공");
        	        	location.href = location.href;
        	    	}
        	    	else
        	    		alert("댓글 수정 실패");
        	    },error : function(){
        	        alert("Error");
        	        return false;
        	    }
        	});
        }
    </script>
</th:block>

<th:block layout:fragment="title">
    <title>Board View</title>
</th:block>

<th:block layout:fragment="content">
	<input type = "hidden" th:id="${board.bno}" name="boardNumber">

    <div><h2 th:text="${board.getTitle()}"></h2></div>
    <br><br>
    <div class="card-content">
        <form id="infoForm" name="infoForm">
        <br>
            <div>
                <div class="col-sm-10">
                	<b>&lt;작성일&gt;</b> <span th:text="${board.register_date}"></span><br>
                	<b>&lt;조회&gt;</b> <span th:text="${board.readcount}"></span><br>
                	<b>&lt;좋아요&gt;</b> <span th:text="${board.likecount}"></span><br>
                	<b>&lt;작성자&gt;</b> <span th:text="${board.nickname}"></span>
                </div>
                <br>
                <div>
                	<textarea id = "contentArea" th:inline="text" class="form-control" readonly>[[${board.content}]]</textarea>
                </div>
            </div>
        </form>
        <div>
            <a th:if="${userSid} != null" type="button" class="btn btn-primary waves-effect waves-light" th:href="'/board/boardUpdate/'+${board.getBno()}">수정</a>
            <button type="button" onClick="location.href='/board/boardList?boardtype=자유게시판'" class="btn btn-primary waves-effect waves-light">이전</button>
            <button th:if="${userSid} != null" type="button" onClick="document.getElementById('commentForm').style.display='block';" class="btn btn-primary waves-effect waves-light">댓글작성</button>
        </div>
    </div>
    
    <br><br>
    <div id="commentForm" style="margin-left:20%; width:600px; height:180px; border:1px solid red; 
    line-height:70%; text-align:center; display:none">
    	<div style="font-size:10pt; text-align:left; margin-left:5%; margin-top:10px">
    		<b>&lt;댓글 작성&gt;</b>
    		<div style="float:right; font-size:10pt; text-align:left; margin-right:5%;">
				학번 <br><br><input type="text" th:value="${userSid}" id = "csid" name = "sid" readonly/> <br><br>
				닉네임<br><br><input type="text" th:value="${userNickname}" id = "cnickname" name = "nickname" readonly/>
			</div>
    		<br>
    		<textarea id = "cTextArea" rows = "5" cols = "50" placeholder = "이곳에 댓글 입력" 
    			maxlength = 200 style="font-size:12px; margin-top:10px;"></textarea>
    		<br><br>(200자 내외)
		</div>
		<br>
		<div>
			<button type="button" onClick="return registerComment('');" class="btn btn-primary waves-effect waves-light">등록</button>
			<button type="button" onClick="cancelCommentForm('');" class="btn btn-primary waves-effect waves-light">취소</button>
		</div>
    </div><br><br>

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
        <th style="font-size:30px" colspan="5">댓글</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="boardComment :${boardCommentList}" th:id="bc+${boardComment.getCno()}">
        	<td th:if="${boardComment.getCcno()} != 0" width = "50"></td>
            <td th:text="${boardComment.getCno()}" width="50"></td>
            <td th:text="${boardComment.getNickname()}" width="200"></td>
            <td th:text="${boardComment.getRegister_date()}" width="200"></td>
            <td th:if="${boardComment.getCheck_delete()} == 'F'" th:text="${boardComment.getContent()}"></td>
            <td th:unless="${boardComment.getCheck_delete()} == 'F'">삭제된 댓글입니다<td>
            <td th:if="${userSid} != null and ${boardComment.getCheck_delete()} == 'F'" width="50">
            	<div id="menubar">
            		<ul class="nav flex-column">
               			<li class="dropdown dropright">
                    		<a class="nav-link" href="#" id="navbarDroprightMenuLink" 
                    		role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true"
                   			style="color:#DB8383; font-size:10px;">
                   	 		더보기
                   			</a>
                   			<div class="dropdown-menu text-center">
                   				<a th:onClick="|showCommentByCommentForm(${boardComment.getCno()});|" class="dropdown-item" style="cursor:pointer; color:#A566FF">댓글쓰기<br></a>
                       			<a th:onClick="|showUpdateCommentForm(${boardComment.getCno()});|" th:if="${userSid} == ${boardComment.getStudentForeignkey().getSid()}" class="dropdown-item" style="cursor:pointer; color:#47C83E">수정<br></a>
                       			<a th:onClick="|return deleteComment(${boardComment.getCno()});|" th:if="${userSid} == ${boardComment.getStudentForeignkey().getSid()}" class="dropdown-item" style="cursor:pointer; color:red">삭제</a>
                   			</div>
               			</li>
           			</ul>
        		</div>
       		</td>
        <tr>
        <tr th:each="boardComment :${boardCommentList}" th:if="${boardComment.getCheck_delete()} == 'F'" >
        	
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li id="pagefirst">
            <a href="?page=0">
                <span>«</span>
            </a>
        </li>
        <li style="cursor:pointer" id="pagePrev">
            <a th:onClick="|return pageMove('prev');|">
                <span>＜</span>
            </a>
        </li>
        <li style="cursor:pointer" th:if="${boardCommentList.getTotalPages()}>0" th:id="page+${num}" th:each="num: ${#numbers.sequence(0,boardCommentList.getTotalPages()-1)}">
            <a th:href="'?'+page+'='+${num}" th:text="${num+1}"></a>
        </li>
        <li id="pageNext">
            <a style="cursor:pointer" th:onClick="|return pageMove('next');|">
                <span>></span>
            </a>
        </li>
        <li>
            <a th:if="${boardCommentList.getTotalPages()}>0" th:href="'?'+page+'='+${boardCommentList.getTotalPages()-1}">
                <span>»</span>
            </a>
            <a th:if="${boardCommentList.getTotalPages()}==0" th:href="'?'+page+'='+${boardCommentList.getTotalPages()}">
                <span>»</span>
            </a>
        </li>
    </ul>
    <br><br>
    <div id="ccommentForm" style="margin-left:20%; width:600px; height:180px; border:1px solid #6324BD; 
    line-height:70%; text-align:center; display:none">
    	<div style="font-size:10pt; text-align:left; margin-left:5%; margin-top:10px">
    		<b>&lt;대댓글 작성&gt;</b>
    		<div style="float:right; font-size:10pt; text-align:left; margin-right:5%;">
				학번 <br><br><input type="text" th:value="${userSid}" id = "ccsid" readonly/> <br><br>
				닉네임<br><br><input type="text" th:value="${userNickname}" id = "ccnickname" readonly/>
			</div>
    		<br>
    		<textarea id = "ccTextArea" rows = "5" cols = "50" placeholder = "이곳에 댓글 입력" 
    			maxlength = 200 style="font-size:12px; margin-top:10px;"></textarea>
    		<br><br>(200자 내외)
		</div>
		<br>
		<div>
			<button type="button" onClick="return registerComment('c');" class="btn btn-primary waves-effect waves-light">등록</button>
			<button type="button" onClick="cancelCommentForm('c');" class="btn btn-primary waves-effect waves-light">취소</button>
		</div>
    </div>
    <!-- /.card-content -->
     <div id="light" class="white_content">
     	<div style="font-size:10pt; text-align:left; width:400px; height:150px; margin-left:15%; margin-top:10%; border:1px solid #5D5D5D">
     		<b style="margin-left:5%">&lt;수정 전 댓글&gt;</b><br>
     		<textarea id = "beforeCommentTextArea" rows = "5" cols = "50" readonly
    			maxlength = 200 style="margin-left:5%; font-size:12px; margin-top:10px; color:#4641D9"></textarea>
     	</div><br>
     	<div id="mcommentForm" style="margin-left:15%; margin-top:10%; width:600px; height:180px; border:1px solid blue; 
    	line-height:70%; text-align:center; display:none">
    	<div style="font-size:10pt; text-align:left; margin-left:5%; margin-top:10px">
    		<b>&lt;댓글 수정&gt;</b>
    		<div style="float:right; font-size:10pt; text-align:left; margin-right:5%;">
				학번 <br><br><input type="text" th:value="${userSid}" id = "ucsid" name = "ucsid" readonly/> <br><br>
				닉네임<br><br><input type="text" th:value="${userNickname}" id = "ucnickname" name = "ucnickname" readonly/>
			</div>
    		<br>
    		<textarea id = "ucTextArea" rows = "5" cols = "50" placeholder = "이곳에 수정할 댓글 입력" 
    			maxlength = 200 style="font-size:12px; margin-top:10px;"></textarea>
    		<br><br>(200자 내외)
		</div>
		<br>
		<div>
			<button type="button" onClick="return updateComment()" class="btn btn-primary waves-effect waves-light">수정</button>
			<button type="button" onClick="cancelUpdateCommentForm()" class="btn btn-primary waves-effect waves-light">취소</button>
		</div>
    	</div>
     </div>
     <div id="fade" class="black_overlay"></div>
</th:block>
</html>