<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<th:block layout:fragment="script">
    <script type="text/javascript">
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        var pages = getParameterByName("page");
        if(pages == ""){
            pages=0;
        }
        $("#page"+pages).attr("class","active");

        function dataSend() {
            var gender = $(":input:radio[name=gen]:checked").val();
            let queryString = $('#infoForm').serialize() ;

            /*var messageDTO={
                result:data
           };*/

            /*var data ={
                sid : $("#sid").val(),
                department : $("#department").val(),
                syear : $("#syear").val(),
                nickname : $("#nickname").val(),
                email : $("#email").val(),
                gen : gender
            };*/
            $.ajax({
                type: "POST",
                url : "/studentRegistration",
                data : queryString,
                // data : queryString,
                // contentType:'application/json; charset=utf-8',
                // datatype : 'json',
                success : function(data){
                    if(data == $('#sid').val()) {
                        alert("등록 성공");
                        location.href='/studentInfo/studentRegistrationTest';
                    }
                    else
                        alert("등록 실패");
                },error : function(){
                    alert(queryString);
                    return false;
                }
            });
            return false;
        }
    </script>
</th:block>

<th:block layout:fragment="title">
    <title>Board Insert</title>
</th:block>

<th:block layout:fragment="content">
    <div><h2 th:text="${board.getTitle()}"></h2></div>
    <br><br>
    <div class="card-content">
        <form id="infoForm" name="infoForm">
        <br>
            <div>
                <div class="col-sm-10">
                	<b>&lt;작성일&gt;</b> <span th:text="${board.register_date}"></span><br>
                	<b>&lt;조회&gt;</b> <span th:text="${board.readcount}"></span><br>
                	<b>&lt;좋아요&gt;</b> <span th:text="${board.likecount}"></span><br>
                	<b>&lt;작성자&gt;</b> <span th:text="${board.nickname}"></span>
                </div>
                <br>
                <div>
                	<textarea id = "contentArea" th:inline="text" class="form-control" readonly>[[${board.content}]]</textarea>
                </div>
            </div>
        </form>
        <div>
            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="dataSend()">수정</button>
            <button type="button" onClick="location.href='/board/boardListTest'" class="btn btn-primary waves-effect waves-light">이전</button>
        </div>
    </div>
    
    <br><br>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
        <th>댓글</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="boardComment :${boardCommentList}">
            <td th:text="${boardComment.getCno()}" width="50"></td>
            <td th:text="${boardComment.getNickname()}" width="200"></td>
            <td th:text="${boardComment.getRegister_date()}" width="200"></td>
            <td th:text="${boardComment.getContent()}"></td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li id="pagefirst">
            <a href="?page=0">
                <span>«</span>
            </a>
        </li>
        <li  th:if="${boardCommentList.getTotalPages()}>0" th:id="page+${num}" th:each="num: ${#numbers.sequence(0,boardCommentList.getTotalPages()-1)}">
            <a th:href="'?'+page+'='+${num}" th:text="${num+1}"></a>
        </li>
        <li>
            <a th:href="'?'+page+'='+${boardCommentList.getTotalPages()}">
                <span>»</span>
            </a>
        </li>
    </ul>

    <!-- /.card-content -->
</th:block>
</html>