<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
    <title>Board Insert</title>
</th:block>

<th:block layout:fragment="article">
    <div class="col-sm-auto article-header">
        <h2>게시글 등록</h2>
      </div>
      <br>
      <!-- 게시판 향후 수정 -->
      <div class="col-sm-auto">
        <form id="infoForm" name="infoForm">
        <div class="form-group">
            <select name="boardtype" id="boardtype" class="boardselect">
              <option id="자유게시판">자유게시판</option>
              <option id="중고게시판">중고게시판</option>
              <option id="정보게시판">정보게시판</option>
            </select>
        </div>
          <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요" required>
          </div>
          <br>
          <br>
          <div class="form-group">
            <textarea class="form-control" id="content" name="content"  placeholder="내용을 입력하세요" required="required"></textarea>
          </div>
          <div id="button_group" class="btn-form">
            <button type="submit" class="btn btn-primary" style="margin-right:5px;" onClick="return dataSend()">등록</button>
            <button type="button" class="btn btn-secondary" onclick="cancel()">취소</button>
          </div>
          <div class="form-group">
              <input type="hidden" name = "sid" id = "sid" class="form-control" th:value="${studentInfo.getSid()}" required="required" readonly/>
          </div>
          <div class="form-group">
              <input type="hidden" name = "nickname" id = "nickname" class="form-control" th:value="${studentInfo.getNickname()}" required="required" readonly/>
          </div>
        </form>
      </div>
    <!-- /.card-content -->
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
    	//var boardTypeName = getParameterByName("boardtype");
    	//$("#" + boardTypeName).attr("selected","selected");
    	
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function dataSend() {
            var content=$('#content').val(CKEDITOR.instances.content.getData());
            let queryString = $('#infoForm').serialize();
            var title=$('#title');
            var boardtype = $('#boardtype').val();

            if(title.val() == "") {
                alert("제목 입력");
                title.focus();
                return false;
            }
            if(content.val() == "") {
                alert("내용 입력");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/yu/boardInsert",
                data: queryString,
                success: function (data) {
                    if (data == $('#sid').val()) {
                        alert("등록 성공");
                        location.href = '/yu/board/boardList?boardtype=' + boardtype;
                    } else
                        alert("등록 실패");
                }, error: function () {
                    alert(queryString);
                    return false;
                }
            });
            return false;
        }
        
        var type="[[${boardtype}]]";
        $("#"+type).attr("selected","selected");
        
        function cancel() {
        	location.href="/yu/board/boardList?boardtype=" + getParameterByName("boardtype");
        }
    </script>
    <script th:src="@{/scripts/ckeditor.js}"></script>
</th:block>
</html>
