<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var pages = getParameterByName("page");
        if(pages == "") {
            pages = 0;
        }
        $("#page"+pages).attr("class","active");
        var boardtype=getParameterByName("boardtype");
        
        function InsertBoard() {
            location.href = "/board/boardInsert?boardtype=" +boardtype;
        }
    </script>

</th:block>
<th:block layout:fragment="title">
    <title>Board List</title>
</th:block>

<th:block layout:fragment="nav-title">
    <div class="fixed-navbar">
        <div class="pull-left">
            <h1 class="page-title">Board list</h1>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
    <div id="grid">
        <div id="menubar">
            <ul class="nav flex-column">
                <li class="dropdown dropright">
                    <a class="nav-link" href="#" id="navbarDroprightMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true">
                    	 게시판
                    </a>
                    <div class="dropdown-menu text-center">
                        <a class="dropdown-item" href="/board/boardList?boardtype=자유게시판">자유게시판</a><br>
                        <a class="dropdown-item" href="/board/boardList?boardtype=잡담게시판">잡담게시판</a><br>
                        <a class="dropdown-item" href="/board/boardList?boardtype=게임게시판">게임게시판</a>
                    </div>
                </li>
            </ul>
        </div>
        <br>
    </div>
    <div><h2 style="color:Blue">Board list</h2></div>
    <br><br>

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="boardlist :${board}">
            <td th:text="${boardlist.getBno()}"></td>
            <td> <a th:href="@{'/board/boardView/'+${boardlist.getBno()}}" th:text="${boardlist.getTitle()}"></a></td>
            <td th:text="${boardlist.getNickname()}"></td>
            <td th:text="${boardlist.getRegister_date()}"></td>
            <td th:text="${boardlist.getRead_count()}"></td>
            <td th:text="${boardlist.getLike_count()}"></td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li id="pagefirst">
            <a th:href="'?'+page+'='+0+'&'+boardtype+'='+${boardType}">
                <span>«</span>
            </a>
        </li>
        <li th:if="${board.getTotalPages()}>0" th:id="page+${num}" th:each="num: ${#numbers.sequence(0,board.getTotalPages()-1)}">
            <a th:href="'?'+page+'='+${num}+'&'+boardtype+'='+${boardType}" th:text="${num+1}"></a>
        </li>
        <li>
            <a th:if="${board.getTotalPages()}>0" th:href="'?'+page+'='+${board.getTotalPages()-1}+'&'+boardtype+'='+${boardType}">
                <span>»</span>
            </a>
            <a th:if="${board.getTotalPages()}==0" th:href="'?'+page+'='+${board.getTotalPages()}+'&'+boardtype+'='+${boardType}">
                <span>»</span>
            </a>
        </li>
    </ul>

    <div style="float: right">
        <button type="button" onClick="location.href='/studentInfo/studentInfo'" class="btn btn-primary waves-effect waves-light">학생 정보</button>
        <button th:if="${userSid} != null" type="button" onClick="InsertBoard()" class="btn btn-primary waves-effect waves-light">등록</button>
    </div>
    <!-- /.card-content -->
</th:block>
</html>