<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
	<title>YU Board View</title>
</th:block>
<th:block layout:fragment="middle">
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">신고하기</h5>
                    <button type="button" id="closeModalButton" class="close" data-dismiss="modal" aria-label="Close" onClick="clearReport()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <textarea class="form-control nonesize" id="reportContent" name="reportContent" maxlength="100" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-right" style="margin-bottom:10px; margin-right:10px;">
                        <button type="button" onClick = "return sendReport()" class="btn-blue" data-toggle ="modal" data-target="#reportModal" data-backdrop ="static">접수</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="article">
	<input type = "hidden" th:id="${board.bno}" name="boardNumber">
		<div id="article-container">
			<header>
				<div class="col-sm-auto clear article-head">
						<!--  게시판 타입  -->
						<h5 class="title" style="font-size:10pt" th:text="${board.getBoardtype()}"></h5>
                        <!-- 글 제목 -->
                        <h3 class="title">
                            <span th:id="board_title+${board.bno}" th:text="${board.getTitle()}"></span>
                        </h3>
                        <!-- 작성자, 글쓴이, 작성일,  조회, 좋아요 수 -->
                        <div class="article-info">
                            <div class="fr">
                                <span th:text="${board.nickname}"></span>
                                <span th:text="${board.readcount}"></span>
                                <span th:text="${board.register_date}"></span>
                                <span id="likecnt" th:text="${board.likecount}"></span>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- 글 내용 -->
                <div class="article-contents">
                    <div class="article-inner clear">
                        <div th:utext="${board.content}">
                        </div>
                    </div>
                    <!-- 각종 버튼 -->
                    <div id="recommend-btn" class="recommend-btn clear">
                        <div class="btn-inner">
                            <!-- 좋아요 -->
                            <div style="width:160px;text-align:right;" class="like-btn-form fl" th:if="${session.studentInfo} != null">
                                <span style="vertical-align:middle" id="likeText">좋아요</span>
                                <button type="button" class="btn-like"><img style="width:40px;height:40px;" th:src="@{/images/pngwing.com.png}" th:onClick="|return likeBoard();|" id="likeboard" class="like-btn"></button>
                            </div>
                            <!-- 신고 -->
                            <div class="declare-btn-form fl">
                                <span>신고</span>
                                <button type="button" class="btn-declare" th:onclick="|reportButtonClick(${board.getBno()})|" data-toggle="modal" data-target="#reportModal" data-backdrop="static"><img th:src="@{/images/declare_btn.png}" class="declare-btn"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 댓글 -->
            <div class="comment-wrap">
                <!-- 댓글 헤더 -->
                <div class="comment-title">
                    <div class="comment-title-font">댓글 목록</div>
                </div>
                <!-- 댓글 내용 -->
                <div class="comment-box">
                    <ul class="comment-list">
                        <!-- 반복 -->
                        <li class="up-content">
                            <div class="comment-info clear">
                                <!-- 댓글작성 닉네임 -->
                                <div class="comment-nick"><span class="comment-writer" style="font-weight:bold">닉네임</span></div>
                                <!-- 댓글 내용 -->
                                <div class="comment-content clear" ><p style="font-weight:bold">내용</p></div>
                                <!-- 댓글 날짜 -->
                                <div class="comment-written-at"><span class="date-time" style="font-weight:bold">날짜</span></div>
                                <!-- 댓글쓰기, 수정, 삭제 : 지금 로그인 유저정보가 있으면 수정, 삭제 보이게하고 아니면 댓글쓰기만 해주세요 -->
                                <div class="comment-option-button"><a style="font-weight:bold">···</a></div>
                            </div>
                        </li>
                        <li class="up-content" th:each="boardComment :${boardCommentList}" th:id="bc+${boardComment.getCno()}">
                            <div th:if="${boardComment.getCcno()} == 0" class="comment-info clear">
                                <!-- 댓글작성 닉네임 -->
                                <div class="comment-nick" id="divCommentWriter"><span class="comment-writer" id="spanCommentWriter" th:text="${boardComment.getNickname()}"></span></div>
                                <!-- 댓글 내용 -->
                                <div class="comment-content clear" th:if="${boardComment.getCheck_delete()} == 'F'"><p th:text="${boardComment.getContent()}" style="white-space:pre-line;"></p></div>
                                <div class="comment-content clear" th:unless="${boardComment.getCheck_delete()} == 'F'"><p>삭제된 댓글입니다</p></div>
                                <!-- 댓글 날짜 -->
                                <div class="comment-written-at"><span class="date-time" th:text="${boardComment.getRegister_date()}"></span></div>
                                <!-- 댓글쓰기, 수정, 삭제 : 지금 로그인 유저정보가 있으면 수정, 삭제 보이게하고 아니면 댓글쓰기만 해주세요 -->
                                <div class="comment-option-button" th:if="${session.studentInfo} != null and ${boardComment.getCheck_delete()} == 'F'">
                                    <a style="cursor:pointer" th:if="${session.studentInfo} != null" th:onClick="|showCommentByCommentForm(${boardComment.getCno()});|">댓글 쓰기</a>
                                    <a style="cursor:pointer" th:if="${session.studentInfo.getSid()} == ${boardComment.getStudentForeignkey().getSid()}" th:onClick="|showUpdateCommentForm(${boardComment.getCno()});|">수정</a>
                                    <a style="cursor:pointer" th:if="${session.studentInfo.getSid()} == ${boardComment.getStudentForeignkey().getSid()}" th:onClick="|return deleteComment(${boardComment.getCno()});|">삭제</a>
                                </div>
                            </div>
                            <!-- 대댓글 -->
                            <div th:unless="${boardComment.getCcno()} == 0" class="reply-info-wrap clear">
                                <!--화살표 닉네임 -->
                                <div class="comment-nick">
                                	<div id="toCommentCno" th:text="${boardComment.getCcno()}" style="display:none"></div>
                                    <div class="reply-img" id="divCommentWriter"><img th:src="@{/images/sp_img.png}">
                                    <span class="comment-writer" id="spanCommentWriter" th:text="${boardComment.getNickname()}"></span></div>
                                </div>
                                <!-- 댓글 내용 -->
                                <div class="comment-content clear" th:if="${boardComment.getCheck_delete()} == 'F'">
                                	<p th:id="bc+${boardComment.getCno()}" style="white-space:pre-line;"><b style="font-size:10pt">[To. [[${boardComment.getTonickname()}]]]</b><br>[[${boardComment.getContent()}]]
                                	</p>
                                </div>
                                <div class="comment-content clear" th:unless="${boardComment.getCheck_delete()} == 'F'"><p>삭제된 댓글입니다</p></div>
                                <!-- 댓글 날짜 -->
                                <div class="comment-written-at"><span class="date-time" th:text="${boardComment.getRegister_date()}"></span></div>
                                <!-- 대댓글 옵션 -->
                                <div class="comment-option-button" th:if="${session.studentInfo} != null and ${boardComment.getCheck_delete()} == 'F'">
                                    <a style="cursor:pointer" th:if="${session.studentInfo} != null" th:onClick="|showCommentByCommentForm(${boardComment.getCno()});|">댓글 쓰기</a>
                                    <a style="cursor:pointer" th:if="${session.studentInfo.getSid()} == ${boardComment.getStudentForeignkey().getSid()}" th:onClick="|showUpdateCommentForm(${boardComment.getCno()});|">수정</a>
                                    <a style="cursor:pointer" th:if="${session.studentInfo.getSid()} == ${boardComment.getStudentForeignkey().getSid()}" th:onClick="|return deleteComment(${boardComment.getCno()});|">삭제</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
         <br>
            
         <nav aria-label="Page navigation" th:if="${boardCommentList.getTotalPages()} != 0">
            <ul class="pagination justify-content-center">
        		<li id="pagefirst">
            		<a href="?page=0">
                		<span class="page-link">«</span>
            		</a>
        		</li>
        		<li style="cursor:pointer" id="pagePrev">
            		<a th:onClick="|return pageMove('prev');|">
                		<span class="page-link">&lt;</span>
            		</a>
        		</li>
        		<li style="cursor:pointer" th:if="${boardCommentList.getTotalPages()}>0" th:id="page+${num}" th:each="num: ${#numbers.sequence(0,boardCommentList.getTotalPages()-1)}">
            		<a th:if="${boardCommentList.getNumber()} == ${num}" style="color:red; font-weight:bold;" class="page-link" th:href="'?'+page+'='+${num}" th:text="${num+1}"></a>
					<a th:unless="${boardCommentList.getNumber()} == ${num}" class="page-link" th:href="'?'+page+'='+${num}" th:text="${num+1}"></a>
        		</li>
        		<li id="pageNext">
            		<a style="cursor:pointer" th:onClick="|return pageMove('next');|">
                		<span class="page-link">&gt;</span>
            		</a>
        		</li>
        		<li>
           			<a th:if="${boardCommentList.getTotalPages()}>0" th:href="'?'+page+'='+${boardCommentList.getTotalPages()-1}">
                		<span class="page-link">»</span>
            		</a>
            		<a th:if="${boardCommentList.getTotalPages()}==0" th:href="'?'+page+'='+${boardCommentList.getTotalPages()}">
                		<span class="page-link">»</span>
            		</a>
        		</li>
    		</ul>
    	</nav>
    		<br><br>
            <!-- 댓글 입력창 -->
            <div class="comment-write-wrap clear">
                <div class="comment-write-form">
                    <!-- 댓글 입력폼 -->
                    <div class="comment-write">
                        <textarea id="cTextArea" maxlength="200" placeholder="댓글을 입력하세요"></textarea>
                    </div>
                    <!-- 댓글 입력버튼 -->
                    <div class="comment-button clear">
                        <div class="fr">
                        	<button id="commentCancel" type="button" class="btn-blue" style="display:none" onClick="cancelCommentForm('');">취소</button>
                          	<button id="commentRegisterButton" type="button" class="btn-blue" onClick="return registerComment('');">등록</button>
                        </div>
                        <div class="fl">
                        	<div><b id="toComment"></b></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 수정, 삭제, 목록 버튼 -->
            <div class="bottom-button-wrap clear">
                <div class="fl">
                    <button type="button" class="btn-blue" onClick="listButtonClick()">목록</button>
                </div>
                <div class="fr">         	
                	<button type="button" class="btn-grey" th:if="${session.studentInfo.getSid()} == ${board.getSid()}" onClick="updateButtonClick()">수정</button>
                    <button type="button" class="btn-grey" th:if="${session.studentInfo.getSid()} == ${board.getSid()}" th:onClick="|return deleteBoard(${board.getBno()});|">삭제</button>
                </div>
            </div>
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript">
        var pages = getParameterByName("page");
        var clickCommentCno;
        var likecheck = "[[${boardlike}]]";
        var toNickname;
        
        var bno;
        var reported_title;
        
        if(pages == ""){
            pages=0;
        }
        $("#page"+pages).attr("class","active");
        
        if(likecheck==''||likecheck=='F'){
        	$("#likeText").html("좋아요");
            $("#likeboard").attr("src", "/images/pngwing.com.png");
        }
        else{
        	$("#likeText").html("좋아요 취소");
            $("#likeboard").attr("src", "/images/pngwingdown.com.png");
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        
        function pageMove(param) {
            var boardNumber = document.getElementsByName("boardNumber")[0].id;
            var pageNum = parseInt(getParameterByName("page"));
            var nextOrPrev;
            if(isNaN(pageNum)) pageNum = 0;
            nextOrPrev = (param == "next") ? 1 : -1;

            if(pageNum + nextOrPrev < 0) return false;
            else if(pageNum + nextOrPrev > [[${boardCommentList.getTotalPages()}]] - 1) return false;

            location.href = "/yu/board/boardView/" + boardNumber + "?page=" + (pageNum + nextOrPrev);
            return true;
        }
        
        function deleteBoard(bno) {
            if(confirm("게시글을 삭제하시겠습니까?")) {
                $.ajax({
                    type: "PUT",
                    url : "/yu/deleteBoard",
                    data : {
                        bno : bno
                    },
                    success : function(data){
                        if(data == true) {
                            alert("게시글 삭제 성공");
                            location.href = '/yu/board/boardList?boardtype=' + "[[${board.getBoardtype()}]]";
                        }
                        else
                            alert("게시글 삭제 실패");
                    },error : function(){
                        alert("Error");
                        return false;
                    }
                });
            }
            else return false;
        }
        
        function cancelCommentForm(part) {
        	$("#cTextArea").val("");
    		$("#cTextArea").attr("placeholder", "댓글을 입력하세요");
            $("#commentCancel").css("display", "none");
            
        	if(part == "u") {
        		$("#commentRegisterButton").html("등록");
        	}
        	if($("#toComment").html() != "") $("#toComment").html("");
        }

        function registerComment(part) {
            var boardNumber = document.getElementsByName("boardNumber")[0].id;
            var sid = "[[${session.studentInfo.getSid()}]]";
            var nickname = "[[${session.studentInfo.getNickname()}]]";
            var content = $("#cTextArea");
            var ccno;

            if(content.val() == "") {
                alert("내용 입력");
                content.focus();
                return false;
            }

            ccno = (part == "") ? 0 : clickCommentCno;
            
            var data;
            if(part == "") {
            	data = { "bno" : boardNumber, 
            			"ccno" : ccno,
            			"sid" : sid,
            			"nickname" : nickname,
            			"content" : content.val()
            	};
            }
            else {
            	data = { "bno" : boardNumber,
            			"ccno" : ccno,
            			"sid" : sid,
            			"nickname" : nickname,
            			"content" : content.val(),
            			"tonickname" : toNickname
            	};
            }

            $.ajax({
                type: "POST",
                url : "/yu/boardComment/insertBoardComment",
                data : data,
                success : function(data){
                    if(data == true) {
                        alert("댓글 등록 성공");
                        cancelCommentForm(part);
                        location.href = location.href;
                    }
                    else
                        alert("댓글 등록 실패");
                },error : function(){
                    alert("Error");
                    return false;
                }
            });
        }
        
        function deleteComment(cno) {
            if(confirm("선택된 댓글을 삭제하시겠습니까?")) {
                var boardNumber = document.getElementsByName("boardNumber")[0].id;

                $.ajax({
                    type: "PUT",
                    url : "/yu/boardComment/deleteBoardComment",
                    data : {
                        cno : cno
                    },
                    success : function(data){
                        if(data == true) {
                            alert("댓글 삭제 성공");
                            location.href = location.href;
                        }
                        else
                            alert("댓글 삭제 실패");
                    },error : function(){
                        alert("Error");
                        return false;
                    }
                });
            }
            else return false;
        }
        
        function showCommentByCommentForm(cno) {
            clickCommentCno = cno;
            var liId = "bc" + cno;
            var toNick = $("#"+ liId +" #divCommentWriter #spanCommentWriter").text();
            toNickname = toNick;
            
            $("#toComment").html("To. " + toNick);
            $("#cTextArea").attr("placeholder", "대댓글을 입력하세요");
            $("#commentRegisterButton").attr("onClick", "return registerComment('c');");
            $("#commentCancel").css("display", "inline-block");
        }
        
        function showUpdateCommentForm(cno) {
        	clickCommentCno = cno;
        	
        	if($("#toComment").html() != "") $("#toComment").html("");
            $("#cTextArea").attr("placeholder", "수정될 댓글을 입력하세요");
            $("#commentRegisterButton").html("수정");
            $("#commentRegisterButton").attr("onClick", "return updateComment('" + cno + "')");
            $("#commentCancel").attr("onClick", "cancelCommentForm('u');");
            $("#commentCancel").css("display", "inline-block");
        }

        function updateComment(cno) {
            var boardNumber = document.getElementsByName("boardNumber")[0].id;
            var sid = "[[${session.studentInfo.getSid()}]]";
            var nickname = "[[${session.studentInfo.getNickname()}]]";
            var content = $("#cTextArea");

            if(content.val() == "") {
                alert("내용 입력");
                content.focus();
                return false;
            }

            $.ajax({
                type: "PUT",
                url : "/yu/boardComment/updateBoardComment",
                data : {
                    bno : boardNumber,
                    cno : clickCommentCno,
                    content : content.val()
                },
                success : function(data){
                    if(data == true) {
                        alert("댓글 수정 성공");
                        location.href = location.href;
                    }
                    else
                        alert("댓글 수정 실패");
                },error : function(){
                    alert("Error");
                    return false;
                }
            });
        }

        function likeBoard() {
            var likecheck = "[[${boardlike}]]";
            var bno = [[${board.getBno()}]];
            var sid = "[[${session.studentInfo.getSid()}]]";
            if(likecheck=="") {
                $.ajax({
                    url: "/yu/boardLike/insertBoardLike",
                    type: "POST",
                    data: {
                        sid: sid,
                        bno: bno
                    },
                    success: function () {
                        location.href = location.href;
                    },
                    error: function () {
                        alert("좋아요 실패");
                        return false;
                    }
                });
            }
            else{
                $.ajax({
                    url: "/yu/boardLike/updateBoardLike",
                    type: "PUT",
                    data: {
                        sid: sid,
                        bno: bno
                    },
                    success: function (data) {
                        $("#likecnt").html(data);

                        if($("#likeboard").attr("src") == "/images/pngwing.com.png") {
                        	$("#likeText").html("좋아요 취소");
                            $("#likeboard").attr("src", "/images/pngwingdown.com.png");
                        }
                        else{
                        	$("#likeText").html("좋아요");
                            $("#likeboard").attr("src", "/images/pngwing.com.png");
                        }
                    },
                    error: function () {
                        alert("좋아요 실패");
                        return false;
                    }
                });
            }
            return true;
        }
        
        function updateButtonClick() {
        	location.href = "/yu/board/boardUpdate/" + [[${board.getBno()}]];
        }
        
        function listButtonClick() {
        	location.href = "/yu/board/boardList?boardtype=" + "[[${board.getBoardtype()}]]";
        }

        function reportButtonClick(id) {
        	bno = id;
        	reported_title = $("#board_title" + id).text();
        }
        
        function clearReport() {
        	$("#reportContent").val("");
        }
        
        function sendReport() {
        	if($("#reportContent").val() == "") {
        		alert("내용을 입력하세요");
        		return false;
        	}
        	
        	if(confirm("입력하신 내용으로 신고를 접수 하시겠습니까?\r\n접수된 내용은 취소할 수 없습니다")) {
        		var reportData = {
        				sid: "[[${session.studentInfo.getSid()}]]",
        				reported_title: reported_title,
        				typename: "[[${board.getBoardtype()}]]",
        				typenumber: bno,
        				reason: $("#reportContent").val()
        		};
        		
            	$.ajax ({
            		type: "POST",
            		url: "/yu/reportInsert",
                    data: reportData,
                    success: function (data) {
                    	alert(data);
                    	clearReport();
                    	return true;
                    }, error: function () {
                        alert("error");
                        return false;
                    }
            	});
        	}
        	return true;
        }
    </script>
</th:block>
</html>
