<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
  <title>YU LectureEvaluation View</title>
</th:block>

<th:block layout:fragment="middle">
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">신고하기</h5>
                    <button type="button" id="closeModalButton" class="close" data-dismiss="modal" aria-label="Close" onClick="clearReport()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <textarea class="form-control nonesize" id="reportContent" name="reportContent" maxlength="100" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-right" style="margin-bottom:10px; margin-right:10px;">
                        <button type="button" onClick = "return sendReport()" class="btn-blue" data-toggle ="modal" data-target="#reportModal" data-backdrop ="static">접수</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="article">
  <div class="container-fluid">
    <div class="card bg-light mt-3">
      <div class="card-header bg-light text-left">
        <h2 th:id="lec_title+${lectureEvaluation.getLno()}" th:text="${lectureEvaluation.getLecturename()}"></h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3 text-left">
            <h5 th:text="'교수이름 : '+${lectureEvaluation.getProfessor()}"></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-3 text-left">
            <h5 th:text="'과목번호 : '+${lectureEvaluation.getLecturenum()}"></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-left">
            <h5>별점 : <th:block th:each="num:${#numbers.sequence(1,5)}">
            <span th:if="${lectureEvaluation.getStar()}>=${num}">★</span>
              <span th:unless="${lectureEvaluation.getStar()}>=${num}">☆</span>
            </th:block></h5>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="card bg-light mt-3">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-9 text-left">
            강의평
          </div>
          <div class="col-3 text-right">
            <h7><span th:text="${lectureEvaluation.getNickname()}+' | '"></span><span th:text="${lectureEvaluation.getRegister_date()}"></span></h7>
          </div>
        </div>

      </div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-9 text-left">
          <span th:text="${lectureEvaluation.getContent()}"></span>
          </div>
        </div>
      </div>
      <div class="card-footer bg-light">
        <div class="declare-btn-form fl">
          <button type="button" class="btn-declare" th:onclick="|reportButtonClick(${lectureEvaluation.getLno()})|" data-toggle = "modal" data-target="#reportModal" data-backdrop="static"><img th:src="@{/images/declare_btn.png}" class="declare-btn"></button>
        </div>
      </div>
    </div>
    <button type="button" class="btn-blue float-right" style="margin-top : 10px;" onclick="listButtonClick()">목록으로</button>
  </div>
</th:block>
<th:block layout:fragment="script">
  <script>
    $('a[data-toggle="tab"]').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('a[data-toggle="tab"]').on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href");
      localStorage.setItem('selectedTab', id)
    });

    var selectedTab = localStorage.getItem('selectedTab');
    if (selectedTab != null) {
      $('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
    }
    
    function listButtonClick() {
    	location.href = "/yu/lectureevaluation/lectureevaluation";
    }
    
    function reportButtonClick(id) {
    	lno = id;
    	reported_title = $("#lec_title" + id).text();
    }
    
    function clearReport() {
    	$("#reportContent").val("");
    }
    
    function sendReport() {
    	if($("#reportContent").val() == "") {
    		alert("내용을 입력하세요");
    		return false;
    	}
    	
    	if(confirm("입력하신 내용으로 신고를 접수 하시겠습니까?\r\n접수된 내용은 취소할 수 없습니다")) {
    		var reportData = {
    				sid: "[[${session.studentInfo.getSid()}]]",
    				reported_title: reported_title,
    				typename: "강의평가",
    				typenumber: lno,
    				reason: $("#reportContent").val()
    		};
    		
        	$.ajax ({
        		type: "POST",
        		url: "/yu/reportInsert",
                data: reportData,
                success: function (data) {
                	alert(data);
                	clearReport();
                	return true;
                }, error: function () {
                    alert("error");
                    return false;
                }
        	});
    	}
    	return true;
    }
  </script>
</th:block>

</html>
