<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
	<a class="navbar-brand" th:if="${session.studentInfo} == null" href="/yu/index">나만 따라 YU</a>
	<a class="navbar-brand" th:unless="${session.studentInfo} == null" href="/yu/login">나만 따라 YU</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id ="navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown dropdown-mobile"><a class="nav-link dropdown-toggle" style="cursor:pointer" id="dropdown" data-toggle="dropdown">
				매칭
			</a>
				<div class="dropdown-menu text-center" aria-labelledby="dropdown">
					<a class="dropdown-item" href="/yu/matching/matchingList?boardtype=청소">청소</a>
					<a class="dropdown-item" href="/yu/matching/matchingList?boardtype=배달">배달</a>
					<a class="dropdown-item" href="/yu/matching/matchingList?boardtype=역할대행">역할대행</a>
					<a class="dropdown-item" href="/yu/matching/matchingList?boardtype=심부름">심부름</a>
				</div>
			</li>
			<li class="nav-item"><a class="nav-link" href = "/yu/schedule/main">시간표</a></li>
			<li class="nav-item"><a class="nav-link" href = "/yu/lectureevaluation/lectureevaluation">강의평가</a></li>

			<li class="nav-item dropdown dropdown-mobile"><a class="nav-link dropdown-toggle" style="cursor:pointer" id="dropdown" data-toggle="dropdown">
				게시판
			</a>
				<div class="dropdown-menu text-center" aria-labelledby="dropdown">
					<a class="dropdown-item" href="/yu/board/boardList?boardtype=자유게시판">자유게시판</a>
					<a class="dropdown-item" href="/yu/board/boardList?boardtype=중고게시판">중고게시판</a>
					<a class="dropdown-item" href="/yu/board/boardList?boardtype=정보게시판">정보게시판</a>
					<a class="dropdown-item" href="/yu/board/boardList?boardtype=질문게시판">질문게시판</a>
				</div>
			</li>

			<li class="nav-item"><a class="nav-link" href = "#">통계그래프</a></li>
			<li>
				<form class="input-group" onsubmit="return false;">
					<div class="search-option-wrap1 fl" style="margin: 0px auto;">
						<select id="totalMobileSearchDate" class="search-date">
							<option value="all">전체기간</option>
							<option value="1week">1주</option>
							<option value="1month">1개월</option>
							<option value="6month">6개월</option>
						</select>
						<select id="totalMobileSearchType" class="search-type">
							<option value="all">전체유형</option>
							<option value="board">게시판</option>
							<option value="matching">매칭</option>
						</select>
						<select id="totalMobileSearchOption" class="search-option">
							<option value="all">제목+내용</option>
							<option value="title">제목</option>
							<option value="writer">글작성자</option>
							<option value="commentContent">댓글내용</option>
						</select>
					</div>
				</form>
			</li>
			<li>
				<form class="input-group" onsubmit="return false;">
					<input id="totalMobileSearchBox" class="form-control" maxlength = "100" onKeypress = "if(event.keyCode==13) {return searchTotal(true)}" type="search" placeholder="검색어를 입력해 주세요" aria-label="Search" style="border-radius: 5px; border: 2px solid #4a57a8;">
					<img th:src="@{/images/돋보기.png}" width="100%" class="btn glass" type="button" onClick="return searchTotal(false)">
				</form>
			</li>
			<li th:if="${session.studentInfo} == null">
				<form class="form-signin" method="post" action="/loginProcess" style="margin:auto;">
					<label for="username" class="sr-only">Student Number</label>
					<input type="text" name="username" id="usernameM" class="form-control" placeholder="학번을 입력해주세요" required autofocus>
					<label for="password" class="sr-only">Password</label>
					<input type="password" name="password" id="passwordM" class="form-control" placeholder="비밀번호를 입력해주세요" required>
					<button class="btn btn-sm btn-block" type="submit" style="background:#0D3F7A; color:white;">로그인</button>
					<button class="btn btn-sm btn-block btn btn-secondary" type="button"
							onclick="var win = window.open('http://portal.yu.ac.kr/sso/login.jsp?type=home&cReturn_Url=http%3A%2F%2Fwww.yu.ac.kr%2Findex.php', '_blank');win.focus();">
						비밀번호 찾기
					</button>
				</form>
			</li>
			<li th:unless="${session.studentInfo} == null">
                <form class="form-signin" style="margin:auto;">
                    <div style="display: inline-flex;">
                    	<img th:if="${session.folderName} != null" style="width:70px;height:90px;" th:src="@{/images/profiles/} + ${session.folderName} + '/'  + 'profileImage.png'">
                    	<img th:unless="${session.folderName} != null" style="width:70px;height:90px;" src="http://placehold.it/70x90/">
                        <div style="text-align: center; width:100%; padding-top:15px; color: white;"><b>[[${session.studentInfo.getNickname()}]]</b> 님 <br>환영합니다!!!</div>
                    </div>
                    <button class="btn btn-sm btn-block btn-outline-light" type="button" onclick="location.href='/yu/studentInfo/studentInfo'">내정보</button>
                    <button class="btn btn-sm btn-block btn-danger" type="button" onclick="location.href='/yu/logout'">로그아웃</button>
                </form>
            </li>
		</ul>
	</div>
</nav>
<!-- /.fixed-navbar -->

<div class="row flex">
	<div class="col-2 item">
		<a th:if="${session.studentInfo} == null" href="/yu/index"><img th:src="@{/images/영대마크.png}"></a>
		<a th:unless="${session.studentInfo} == null" href="/yu/login"><img th:src="@{/images/영대마크.png}"></a>
	</div>
	<div class="col-7 item">
		<div class="search-wrap clear">
			<form class="input-group" onsubmit="return false;">
			<div class="search-option-wrap1 fl">
				<select id="totalSearchDate" class="search-date">
					<option value="all">전체기간</option>
					<option value="1week">1주</option>
					<option value="1month">1개월</option>
					<option value="6month">6개월</option>
				</select>
				<select id="totalSearchType" class="search-type">
					<option value="all">전체유형</option>
					<option value="board">게시판</option>
					<option value="matching">매칭</option>
				</select>
				<select id="totalSearchOption" class="search-option">
					<option value="all">제목+내용</option>
					<option value="title">제목</option>
					<option value="writer">글작성자</option>
					<option value="commentContent">댓글내용</option>
				</select>
			</div>
				<input id="totalSearchBox" class="form-control" maxlength = "100" onKeypress = "if(event.keyCode==13) {return searchTotal(false)}" type="search" placeholder="검색어를 입력해 주세요" aria-label="Search" style="border-radius: 5px; border: 2px solid #4a57a8;">
				<img th:src="@{/images/돋보기.png}" width="100%" class="btn glass" type="button" onClick="return searchTotal(false)">
			</form>
		</div>
	</div>
	<div class="col-3 item">
		<form th:if="${session.studentInfo} == null" class="form-signin" method="post" action="/loginProcess" style="margin:auto;">
			<label for="username" class="sr-only">Student Number</label>
			<input type="text" name="username" id="username" class="form-control" placeholder="학번을 입력해주세요." required autofocus>
			<label for="password" class="sr-only">Password</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력해주세요." required>
			<button class="btn btn-sm btn-block" type="submit" style="background:#0D3F7A; color:white;">로그인</button>
			<button class="btn btn-sm btn-block btn btn-secondary" type="button"
					onclick="var win = window.open('http://portal.yu.ac.kr/sso/login.jsp?type=home&cReturn_Url=http%3A%2F%2Fwww.yu.ac.kr%2Findex.php', '_blank');win.focus();">
				비밀번호 찾기
			</button>
		</form>
		<form th:unless="${session.studentInfo} == null" class="form-signin" style="margin:auto;">
            <div style="display: inline-flex;">
            	<img th:if="${session.folderName} != null" style="height:90px;width:25%; " th:src="@{/images/profiles/} + ${session.folderName} + '/'  + 'profileImage.png'">
            	<img th:unless="${session.folderName} != null" style="height:90px; width:25%;" src="http://placehold.it/70x90/">
                <div style="text-align: center; width:100%; padding-top:15px;"><b>[[${session.studentInfo.getNickname()}]]</b> 님 <br>환영합니다!!!</div>
            </div>
            <button class="btn btn-sm btn-block btn-outline-dark" type="button" onclick="location.href='/yu/studentInfo/studentInfo'">내정보</button>
            <button class="btn btn-sm btn-block btn-danger" type="button" onclick="location.href='/yu/logout'">로그아웃</button>
        </form>
	</div>
</div>

<th:block layout:fragment="middle"></th:block>

<div id="grid">
	<div id="menubar">
		<ul class="nav flex-column">
			<li class="dropdown dropright">
				<a class="nav-link" href="#" id="navbarDroprightMenuLink" role="button" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true" data-target="#demo">
					매칭
				</a>
				<div id="demo" class="collapse">
					<a href="/yu/matching/matchingList?boardtype=청소">청소</a><br>
					<a href="/yu/matching/matchingList?boardtype=배달">배달</a><br>
					<a href="/yu/matching/matchingList?boardtype=역할대행">역할대행</a><br>
					<a href="/yu/matching/matchingList?boardtype=심부름">심부름</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link" tabindex="-1" aria-disabled="true" href="/yu/schedule/main">시간표</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" tabindex="-1" aria-disabled="true" href="/yu/lectureevaluation/lectureevaluation">강의평가</a>
			</li>
			<li class="dropdown dropright">
				<a class="nav-link" href="#" id="navbarDroprightMenuLink" role="button" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true" data-target="#demo2">
					게시판
				</a>
				<div id="demo2" class="collapse">
					<a href="/yu/board/boardList?boardtype=자유게시판">자유게시판</a><br>
					<a href="/yu/board/boardList?boardtype=중고게시판">중고게시판</a><br>
					<a href="/yu/board/boardList?boardtype=정보게시판">정보게시판</a><br>
					<a href="/yu/board/boardList?boardtype=질문게시판">질문게시판</a><br>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/yu/graph/graphView" tabindex="-1" aria-disabled="true">통계 그래프</a>
			</li>
		</ul>
	</div>
	<br>
	<div id="article">
		<th:block layout:fragment="article">
		</th:block>
	</div>
</div>

<br>

<footer class="bg-dark mt-3 p-3 text-center" style="color: #FFFFFF;">
	<div class="row">
		<div class="col-3"><a href="/yu/home/footer1">이용약관</a></div>
		<div class="col-3"><a href="/yu/home/footer2">개인정보처리방침</a></div>
		<div class="col-3"><a href="/yu/home/footer3">커뮤니티이용규칙</a></div>
		<div class="col-3"><a href="/yu/login">(주)나만따라YU</a></div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--<script th:src="@{/scripts/jquery.min.js}"></script> -->
<script th:src="@{/ckeditor/ckeditor.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>

<th:block th:if="${session.studentInfo} != null">
<script>
	function searchTotal(mobile) {
		var text;
		var date;
		var type;
		var option;
		
		if(mobile == true) {
			text = $("#totalMobileSearchBox");
			date = $("#totalMobileSearchDate option:selected");
			type = $("#totalMobileSearchType option:selected");
			option = $("#totalMobileSearchOption option:selected");
		}
		else {
			text = $("#totalSearchBox");
			date = $("#totalSearchDate option:selected");
			type = $("#totalSearchType option:selected");
			option = $("#totalSearchOption option:selected");
		}

		if(text.val().trim() == "") {
			alert("검색어를 입력하세요");
			return false;
		}
		else if(text.val().length < 2) {
			alert("검색어는 2글자 이상이어야 합니다");
			return false;
		}

		var chgText = text.val();
		chgText = searchStringArrange(chgText);
		
		var afterWord = searchStringChange(text.val());
		
		if(afterWord.length != 0) {
			var searchData = {
					sid: "[[${session.studentInfo.getSid()}]]",
					word: afterWord
			};
			
	    	$.ajax ({
	    		type: "POST",
	    		url: "/yu/searchWordInsert",
	            data: searchData,
	            success: function (data) {
	            }, error: function () {
	                alert("error");
	            }
	    	});
		}

		location.href = "/yu/search/searchAllList?text=" +
				chgText + "&date=" + date.val() + "&type=" + type.val() + "&option=" + option.val();
	}
	
	function searchStringArrange(str) {
		str = str.trim();
		str = str.replace(/ +/g, " ");
		
		str = str.replace(/\%/gi, '%25');
		
		str = str.replace(/\`/gi, '%60');
		str = str.replace(/\!/gi, '%21');
		str = str.replace(/\@/gi, '%40');
		str = str.replace(/\#/gi, '%23');
		str = str.replace(/\$/gi, '%24');
		str = str.replace(/\^/gi, '%5E');
		str = str.replace(/\&/gi, '%26');
		str = str.replace(/\(/gi, '%28');
		str = str.replace(/\)/gi, '%29');
		str = str.replace(/\=/gi, '%3D');
		str = str.replace(/\\/gi, '%5C');
		str = str.replace(/\|/gi, '%7C');
		str = str.replace(/\[/gi, '%5B');
		str = str.replace(/\]/gi, '%5D');
		str = str.replace(/\{/gi, '%7B');
		str = str.replace(/\}/gi, '%7D');
		str = str.replace(/\,/gi, '%2C');
		str = str.replace(/\//gi, '%2F');
		str = str.replace(/\?/gi, '%3F');
		str = str.replace(/\:/gi, '%3A');
		str = str.replace(/\'/gi, '%27');
		
		return str;
	}
	
	function searchStringChange(str) {
		var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\"]/gi;
		var chgString = str;
		chgString = chgString.replace(regExp, "");
		
		return chgString;
	}
</script>
</th:block>
<th:block>
<script>
	function printClock() {
	    
	    var clock = document.getElementById("clock");            // 출력할 장소 선택
	    var currentDate = new Date();                                     // 현재시간
	    var calendar = currentDate.getFullYear() + "-" + (currentDate.getMonth()+1) + "-" + currentDate.getDate() // 현재 날짜
	    var amPm = 'AM'; // 초기값 AM
	    var currentHours = addZeros(currentDate.getHours(),2); 
	    var currentMinute = addZeros(currentDate.getMinutes() ,2);
	    var currentSeconds =  addZeros(currentDate.getSeconds(),2);
	    
	    if(currentHours >= 12){ // 시간이 12보다 클 때 PM으로 세팅, 12를 빼줌
	    	amPm = 'PM';
	    	currentHours = addZeros(currentHours - 12,2);
	    }
	    clock.innerHTML = calendar +" "+currentHours+":"+currentMinute+":"+currentSeconds +" <span style='font-size:30px;'>"+ amPm+"</span>"; //날짜를 출력해 줌
	    
	    setTimeout("printClock()",1000);         // 1초마다 printClock() 함수 호출
	}

	function addZeros(num, digit) { // 자릿수 맞춰주기
		  var zero = '';
		  num = num.toString();
		  if (num.length < digit) {
		    for (i = 0; i < digit - num.length; i++) {
		      zero += '0';
		    }
		  }
		  return zero + num;
	}
</script>
</th:block>
<th:block th:if="${session.studentInfo} == null">
<script>
function searchTotal(mobile) {
	alert("로그인이 필요합니다");
	return false;
}
</script>
</th:block>
<th:block layout:fragment="script"></th:block>
</body>
</html>
