<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="title">
   <title>YU Search Schedule</title>
</th:block>

<th:block layout:fragment="article">

    <div id="subjects" style="width:1489px;">

        <div class="filter">
            <div class="subject-wrap">
                <div class="subject-select fl clear">
                    <a href="/schedule/subject" onclick="window.open(this.href, '_blank', 'width=400px,height=500px,toolbars=no,scrollbars=yes'); return false;">
                        <div class="key subject-select-button">전공/영역 선택 </div>
                        <span id="con1" Style="display:none;">-1</span>
                        <span id="con2" Style="display:none;">-1</span>
                        <span id="con3" Style="display:none;">-1</span>
                        <span id="con4" Style="display:none;"></span>
                        <span class="reset"></span>
                    </a>
                </div>

                <div class="subject-keyword fl clear">
                    <label for="searchname">검색어:</label>
                    <input type="search" id="searchname" placeholder="검색어">
                </div>

                <div class="subject-number fl clear">
                    <label for="searchnum">수강번호:</label>
                    <input type="search" id="searchnum" placeholder="수강번호">
                </div>

                <div class="subject-grade fl clear">
                    <form>
                        <label for="grade">학년</label>
                        <select name="grade" id="grade" >
                            <option value="0" selected>0</option>
                            <option value="1" >1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </form>
                </div>

                <div class="subject-grades fl clear">
                    <form>
                        <label for="grades">학점</label>
                        <select name="grades" id="grades" >
                            <option value="0" selected>전체</option>
                            <option value="1" >1학점</option>
                            <option value="2" >2학점</option>
                            <option value="3">3학점</option>
                            <option value="3">4학점 이상</option>
                        </select>
                    </form>
                </div>
            </div>
            <div>
                <input type="button" id="searchsubject" class="btn-blue" onclick="javascript:idcheck();" value="조회">
            </div>
        </div>

        <div class="list">
            <div class="thead"></div>
            <table class="table-hover" style="width:1489px">
                <thead><tr>
                    <td style="padding-left:20px;"><b>학년</b></td>
                    <td class="q" style="padding-left:20px;"><b>구분</b></td>
                    <td class="q" style="padding-left:20px;"><b>수강번호</b></td>
                    <td class="q" style="padding-left:20px;"><b>교과목명</b></td>
                    <td class="q" style="padding-left:20px;"><b>수업방법</b></td>
                    <td class="q" style="padding-left:20px;"><b>담당교수</b></td>
                    <td class="q" style="padding-left:20px;"><b>강의시간</b></td>
                    <td class="q" style="padding-left:20px;"><b>강의실</b></td>
                    <td class="q" style="padding-left:20px;"><b>학점</b></td>
                    <td class="q" style="padding-left:20px;"><b>수강인원</b></td>
                    <td class="q" style="padding-left:20px;"><b>자과여석</b></td>
                    <td class="q" style="padding-left:20px;"><b>타과여석</b></td>
                    <td class="q" style="padding-left:20px;"><b>부복수여석</b></td>
                </tr></thead>
                <tbody id="123" >
                <tr class="things" id="0"></tr>
                <tr class="things" id="1"></tr>
                <tr class="things" id="2"></tr>
                <tr class="things" id="3"></tr>
                <tr class="things" id="4"></tr>
                <tr class="things" id="5"></tr>
                <tr class="things" id="6"></tr>
                <tr class="things" id="7"></tr>
                <tr class="things" id="8"></tr>
                <tr class="things" id="9"></tr>
                <tr class="things" id="10"></tr>
                <tr class="things" id="11"></tr>
                <tr class="things" id="12"></tr>
                <tr class="things" id="13"></tr>
                <tr class="things" id="14"></tr>
                <tr class="things" id="15"></tr>
                <tr class="things" id="16"></tr>
                <tr class="things" id="17"></tr>
                <tr class="things" id="18"></tr>
                <tr class="things" id="19"></tr>

                </tbody>




                </table></div></div>
</th:block>

<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript">

        var clickEle = $('.things');
        clickEle.click(function () {

            let max = new Map();

            max.set("월", "cols0");
            max.set("화", "cols1");
            max.set("수", "cols2");
            max.set("목", "cols3");
            max.set("금", "cols4");

            var list = new Array();
            
         var red;
         var green;
         var blue;

         var rd;
         var hex;
         var chk;
         
         while(true) {
               while(true) {
                   rd = Math.random();
                   red = Math.floor( rd * 234 );
                   rd = Math.random();
                   green = Math.floor( rd * 234 );
                   rd = Math.random();
                   blue = Math.floor( rd * 234 );
                      
                   if(red < 116 && green < 116 && blue < 116) continue;
                   else break;
               }

               //red = red.toString(16);
               //green = green.toString(16);
               //blue = blue.toString(16);
               
               hex = "rgb(" + red + "," + green + "," + blue + ")";
               list.push(hex);
               
               for(var i = 0; i < list.length - 1; i++) {
                  if(list[i] == hex) {
                     chk = true;
                  }
               }
               if(chk == true) continue;
               else break;
         }
            var colorcode = hex;



            var date=$(this).children('td:eq(6)').text();//시간

            var temp=date.split(" ");//초기 두날짜의시간을 나눔.
            // alert(max.get(temp[0].charAt(0)));


            //cols0-월
            //cols1-화
            //cols2-수
            //cols3-목
            //cols4-금
            var ftimetemp=temp[0].split("-");//첫번째시간에 둘의 시간표를 나눔.

            var front=ftimetemp[0].substr(1).split(":");
            var rear=ftimetemp[1].split(":");

            var ff=front[0]*1//첫번째 시간의 앞
            var fr=front[1]*1//첫 번째 시간의 뒤

            //alert(ff);
            //alert(fr);

            var rf=rear[0]*1;//뒷 시간의 앞
            var rr=rear[1]*1;//뒷 시간의 뒤

            //alert(rf);
            //alert(rr);

            var top=(ff-8)*50+fr/60*50-50;
            var height=((rf-8)*50+rr/60*50)-((ff-8)*50+fr/60*50);

            top+="";
            height+="";


            //opener.parent.createobject();




            var str = "<div class='"+"mysubject'"+"id='"+$(this).children('td:eq(2)').text()+"'" +
                "style='" +"position:absolute;z-index:10;border:1px solid gray;width:18%;background-color:"+colorcode+
                ";top:"+top+"px;"+"height:"+height+"px;'>" +$(this).children('td:eq(3)').text() +$(this).children('td:eq(1)').text()+$(this).children('td:eq(5)').text()+$(this).children('td:eq(7)').text()+"</div>";




            opener.document.getElementById("part").innerText=$(this).children('td:eq(1)').text();
            opener.document.getElementById("title").innerText=$(this).children('td:eq(3)').text();
            opener.document.getElementById("profname").innerText=$(this).children('td:eq(5)').text();
            opener.document.getElementById("placename").innerText=$(this).children('td:eq(7)').text();
            opener.document.getElementById("colornum").innerText=colorcode;
            opener.document.getElementById("topnum").innerText=top;
            opener.document.getElementById("heightnum").innerText=height;
            opener.document.getElementById("coursenum").innerText=$(this).children('td:eq(2)').text();
            opener.document.getElementById("dayid").innerText=max.get(temp[0].charAt(0));

            if(!opener.parent.createobject("a")){
                alert("시간이 겹칩니다.");
                return false;
            }


         if(temp[1] == null) return false;
            /////////////////////////////
            var rtimetemp=temp[1].split("-");

            front=rtimetemp[0].substr(1).split(":");
            rear=rtimetemp[1].split(":");

            ff=front[0]*1//첫번째 시간의 앞
            fr=front[1]*1//첫 번째 시간의 뒤

            //alert(ff);
            //alert(fr);

            rf=rear[0]*1;//뒷 시간의 앞
            rr=rear[1]*1;//뒷 시간의 뒤

            //alert(rf);
            //alert(rr);

            top=(ff-8)*50+fr/60*50-50;
            height=((rf-8)*50+rr/60*50)-((ff-8)*50+fr/60*50);

            top+="";
            height+="";

            var str = "<div class='"+"mysubject'"+"id='"+$(this).children('td:eq(2)').text()+"'" +
                "style='" +"position:absolute;z-index:10;width:18%;background-color:"+colorcode+
                ";top:"+top+"px;"+"height:"+height+"px;'>" +$(this).children('td:eq(3)').text() +$(this).children('td:eq(1)').text()  +$(this).children('td:eq(5)').text()+$(this).children('td:eq(7)').text()+"</div>";


            opener.document.getElementById("part").innerText=$(this).children('td:eq(1)').text();
            opener.document.getElementById("title").innerText=$(this).children('td:eq(3)').text();
            opener.document.getElementById("profname").innerText=$(this).children('td:eq(5)').text();
            opener.document.getElementById("placename").innerText=$(this).children('td:eq(7)').text();
            opener.document.getElementById("colornum").innerText=colorcode;
            opener.document.getElementById("topnum").innerText=top;
            opener.document.getElementById("heightnum").innerText=height;
            opener.document.getElementById("coursenum").innerText=$(this).children('td:eq(2)').text();
            opener.document.getElementById("dayid").innerText=max.get(temp[1].charAt(0));


            //alert(str);
            if(!opener.parent.createobject("b")){
                alert("시간이 겹칩니다.");
               return false;
           }


        })

        function idcheck() {
        	if($("#con1").text() == "-1") {
        		alert("전공/영역을 선택해주세요");
        		return false;
        	}
        	
            $.ajax({
                url : "/schedule/search",
                type : "get",
                data : "con3=" + $("#con3").text()+"&con2="+$("#con2").text()+"&con1="+$("#con1").text()
                    +"&searchname=" + $("#searchname").val()+"&searchnum="+$("#searchnum").val()+"&grade="+$("#grade").val(),
                cache:false}).done(function (result) {

                var cell = document.getElementById("0");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("1");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("2");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("3");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("4");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("5");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("6");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }
                var cell = document.getElementById("7");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("8");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("9");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("10");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }
                var cell = document.getElementById("11");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }
                var cell = document.getElementById("12");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }
                var cell = document.getElementById("13");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }
                var cell = document.getElementById("14");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }
                var cell = document.getElementById("15");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }
                var cell = document.getElementById("16");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("17");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("18");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var cell = document.getElementById("19");
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }

                var a=result.split("!");


                for(i=0;i<a.length-1;i++)
                {

                    var b=a[i].split("*");

                    var num;

                    var str="";
                    for(j=0;j<b.length-1;j++)
                    {
                        str +="<td class='thing' style='padding-left:20px;text-align: center;'>"+b[j]+"</td>"
                    }
                    num=i+"";
                    var id="#"+num;
                    $(id).append(str);
                }

            });
                /*
                                    var result=fragment.replace('<tbody id="123">','').replace('</tbody>','');


                                    $("#123").html(result);
                              //  document.getElementById('1234');*/

        }
    </script>

    <style>
        td{
            padding-left:20px;
            text-align: center;
        }
        tr{
            border:1px solid black;
        }

    </style>

</th:block>
</html>