<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
    <title>YU Student Schedule</title>

    <style>

        .grid{
            border:1px solid grey;
            height:50px;
            z-inde:0;
        }
        .month{
            border: 1px solid grey;
            background-color: #3c4790;
            height:50px;
            line-height: 50px;
            text-align: center;
            font-weight: bold;
            color: #fff;
        }
        .mysubject{
            position:absolute;
            z-index:10;
            border:1px solid black;
            width:19%;
            background-color: #00aeff;
        }

        .schedule-header-form {
            position: relative;
            margin: 0;
            padding: 0;
        }

        .schedule-header-form .month:first-child {
            width: 10%;
        }

        .schedule-header-form .month {
            width: 18%;
        }

        .schedule-content-form th {
            padding: 0;
            margin: 0;
            width: 10%;
        }

        .schedule-content-form td {
            padding: 0;
            margin: 0;
            width: 18%;
        }
        .schedule-content-form .time {
            height:50px;
            border: 1px solid grey;
            text-align: center;
            line-height: 50px;
            font-size: 1vw;
        }

    </style>
</th:block>

<th:block layout:fragment="article">

    <div id="data" style="display:none;">
        <div id="title"></div>
        <div id="profname"></div>
        <div id="placename"></div>
        <div id="colornum"></div>
        <div id="topnum"></div>
        <div id="heightnum"></div>
        <div id="coursenum"></div>
        <div id="dayid"></div>
    </div>


    <button id="create">저장</button>
    <button id="delete">제거</button>
    <a th:href="@{/schedule/contentSearch}" th:onclick="window.open(this.href, '_blank', 'width=1000px,height=500px,toolbars=no,scrollbars=yes');  return false;">수업 목록에서 검색</a>


    <div class="container-fluid">
        <div class="col-sm-auto">
            <table class="schedule-header-form table">
                <tbody>
                <tr>
                    <td class="month"></td>
                    <td class="month">월</td>
                    <td class="month">화</td>
                    <td class="month">수</td>
                    <td class="month">목</td>
                    <td class="month">금</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-auto">
            <table class="schedule-content-form table">
                <tbody>
                <tr>
                    <th>
                        <div class="times">
                            <div class="time">오전 9시</div>
                            <div class="time">오전 10시</div>
                            <div class="time">오전 11시</div>
                            <div class="time">오후 12시</div>
                            <div class="time">오후 1시</div>
                            <div class="time">오후 2시</div>
                            <div class="time">오후 3시</div>
                            <div class="time">오후 4시</div>
                            <div class="time">오후 5시</div>
                            <div class="time">오후 6시</div>
                            <div class="time">오후 7시</div>
                            <div class="time">오후 8시</div>
                            <div class="time">오후 9시</div>
                            <div class="time">오후 10시</div>
                        </div>
                    </th>

                    <td>
                        <div class="cols" id="cols0"></div>
                        <div class="grids"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                    </td>

                    <td>
                        <div class="cols" id="cols1"></div>
                        <div class="grids"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                    </td>

                    <td>
                        <div class="cols" id="cols2"></div>
                        <div class="grids"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                    </td>

                    <td>
                        <div class="cols" id="cols3"></div>
                        <div class="grids"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                    </td>

                    <td>
                        <div class="cols" id="cols4"></div>
                        <div class="grids"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                        <div class="grid"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="nontimes"></div>
        </div>
    </div>


</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript">

        $(document).ready(function() {
            $.ajax({
                url : "/schedule/load",
                type :"get",
                data :"date=a" ,
                cache:false}).done(function (a) {


                var temp=a.split("!");

                for(i=0;i<temp.length-1;i++)
                {

                    var itemp=temp[i].split("*");

                    $("#title").text(itemp[0]);
                    $("#profname").text(itemp[1]);
                    $("#placename").text(itemp[2]);
                    $("#colornum").text("#"+itemp[3]);
                    $("#topnum").text(itemp[4]);
                    $("#heightnum").text(itemp[5]);
                    $("#coursenum").text(itemp[6]);
                    $("#dayid").text(itemp[7]);
                    createobject();

                }
            });});

        var list= new Array();
        var clickEle = $('#create');
        clickEle.click(function () {


            var sid;
            $.ajax({
                url : "/schedule/deleteload",
                type :"get",
                data :"date=a" ,
                cache:false}).done(function (a) {

                $.ajax({
                    url : "/schedule/delete",
                    type :"get",
                    data :"sid="+a ,
                    cache:false}).done(function (aa) {

                    for(var i=0;i<list.length;i++){

                        $.ajax({
                            url : "/schedule/save",
                            type : "get",
                            data : "title=" + list[i].get("title")+"&profname="+list[i].get("profname")+"&placename="+list[i].get("placename"+"")+"&colornum=" + list[i].get("colornum").substr(1)+"&topnum="+list[i].get("topnum")+"&heightnum="+list[i].get("heightnum")+"&coursenum="+list[i].get("coursenum")+"&dayid="+list[i].get("dayid"),
                            cache:false}).done(function () {

                        });

                    }

                });

            });

        });

        var clickEle = $('#delete');
        clickEle.click(function () {


            var sid;
            $.ajax({
                url : "/schedule/deleteload",
                type :"get",
                data :"date=a" ,
                cache:false}).done(function (a) {



                $.ajax({
                    url : "/schedule/delete",
                    type :"get",
                    data :"sid="+a ,
                    cache:false}).done(function (aa) {

                });

                //alert(sid);
            });

            list=[];

            $('#cols0').children('div').remove();
            $('#cols1').children('div').remove();
            $('#cols2').children('div').remove();
            $('#cols3').children('div').remove();
            $('#cols4').children('div').remove();

        });

        function createobject() {

            let max = new Map();

            max.set("title", $('#title').text());
            max.set("profname", $('#profname').text());
            max.set("placename", $('#placename').text());
            max.set("colornum", $('#colornum').text());
            max.set("topnum", $('#topnum').text());
            max.set("heightnum", $('#heightnum').text());
            max.set("coursenum", $('#coursenum').text());
            max.set("dayid", $('#dayid').text());
            list.push(max);

            var str = "<div class='mysubject'style='" +"position:absolute;z-index:10;border:1px solid black;width:19%;background-color:"+$('#colornum').text()+
                ";top:"+$('#topnum').text() +"px;"+"height:"+$('#heightnum').text()+"px;'>"+$('#title').text() +$('#profname').text()+$('#placename').text()+"</div>";


            var distinguish ='#'+$('#dayid').text();

            $(distinguish).append(str);
        }

    </script>
</th:block>
</html>