<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/subjectBasic}" >


<th:block layout:fragment="script">
    <script type="text/javascript">

        var clickEle = $('.child');
        clickEle.click(function () {


            opener.document.getElementById("con1").innerHTML=$(this).index();
            opener.document.getElementById("con2").innerHTML=$(this).parent('ul').parent('li').index();
            opener.document.getElementById("con3").innerHTML=$(this).parent('ul').parent('li').parent('ul').parent('li').index();
            opener.document.getElementById("con4").innerHTML=$(this).text();
           // window.opener.document.reload();

            window.close();
        })

       // index.init();

    </script>
</th:block>

<th:block layout:fragment="article">

    <form th:id="subjectCategoryFilter" th:class="modal" th:style="${'display:block; overflow:scroll;'}">
        <a title="닫기" class="close"></a>
        <div class="jumbotron text-center bg-dark" style="color: white">
            <h3>전공 영역 선택</h3>
        </div>
        <div>
            <ul class="category" id="field" >

                <li class="parent folded" onclick="if(select0.style.display=='none'){select0.style.display='';show.innerText='접기'}else{select0.style.display='none';show.innerText='펼치기'}">교양학부
                <ul class="folded" id="select0" style="display: none;">
                    <li class="child">기초교양</li>
                    <li class="child">실천교양</li>
                    <li class="child">언어와문학</li>
                    <li class="child">역사와사회</li>
                    <li class="child">인간과철학</li>
                    <li class="child">문화와예술</li>
                    <li class="child">자연과기술</li>
                    <li class="child">학제와융합</li>
                </ul><!--8-->
                </li>


            <li class="parent folded" onclick="if(select0.style.display=='none'){aa.style.display='';show.innerText='접기'}else{aa.style.display='none';show.innerText='펼치기'}">대학
            <ul class="folded" id='aa' style="display: none;">
                <li class="child">대학</li>
            </ul><!--8-->
            </li>

            <li class="parent folded" onclick="if(select1.style.display=='none'){select1.style.display='';show.innerText='접기'}else{select1.style.display='none';show.innerText='펼치기'}">문과대학
                <ul class="folded" id="select1" style="display: none;">
                    <li class="child">국어국문학과</li>
                    <li class="child">중국언어문화학과</li>
                    <li class="child">일어일문학과</li>
                    <li class="child">영어영문학과</li>
                    <li class="parent folded">유럽언어문화학부
                        <ul class="folded">
                            <li class="child">유럽언어문화학부</li>
                            <li class="child">프랑스어문전공</li>
                            <li class="child">독일언어문화전공</li>
                        </ul>
                    </li>
                    <li class="child">철학과</li>
                    <li class="child">역사학과</li>
                    <li class="child">문화인류학과</li>
                    <li class="child">심리학과</li>
                    <li class="child">사회학과</li>
                    <li class="child">언론정보학과</li>
                    <li class="child">국어국문학과(야)</li></ul>

            </li>

            <li class="parent folded" onclick="if(select2.style.display=='none'){select2.style.display='';show.innerText='접기'}else{select2.style.display='none';show.innerText='펼치기'}">자연과학대학
            <ul class="folded" id="select2" style="display: none;">
                <li class="child">수학과</li>
                <li class="child">통계학과</li>
                <li class="child">물리학과</li>
                <li class="parent folded">화학생화학부
                <ul class="folded">
                    <li class="child">화학생화학부</li>
                    <li class="child">화학전공</li>
                    <li class="child">생화학전공</li></ul>
                </li>
                <li class="child">생명과학과</li>
            </ul>

            </li>

            <li class="parent folded" onclick="if(select3.style.display=='none'){select3.style.display='';show.innerText='접기'}else{select3.style.display='none';show.innerText='펼치기'}">공과대학
            <ul class="folded" id="select3" style="display: none;">
                <li>건설시스템공학과</li>
                <li class="child">환경공학과</li>
                <li class="child">도시공학과</li>
                <li class="parent folded">신소재공학부
                <ul class="folded"><li class="child">신소재공학전공</li></ul>
                </li>
                <li class="parent folded">화학공학부
                <ul class="folded"><li class="child">화학공학부</li>
                    <li class="child">고분자·바이오소재전공</li>
                    <li class="child">화공시스템전공</li>
                    <li class="child">융합화학공학전공</li>
                    <li class="child">에너지화공전공</li></ul>
                </li>
                <li class="child">파이버시스템공학과</li>
            </ul><!--7-->
            </li>


            <li class="parent folded" onclick="if(select4.style.display=='none'){select4.style.display='';show.innerText='접기'}else{select4.style.display='none';show.innerText='펼치기'}">기계IT대학
            <ul class="folded" id="select4" style="display: none;">
            <li class="child">기계IT대학</li>
            <li class="parent folded">기계공학부
            <ul class="folded"><li class="child">기계공학부</li><li class="child">기계시스템전공</li><li class="child">기계설계전공</li><li class="child">첨단기계전공</li>
            </ul>
            </li>
            <li class="child">전기공학과</li><li class="child">전자공학과</li><li class="child">컴퓨터공학과</li><li class="child">정보통신공학과</li><li class="child">자동차기계공학과</li><li class="child">로봇기계공학과</li><li class="child">전기공학과(야)</li>
            </ul></li>



            <li class="parent folded" onclick="if(select5.style.display=='none'){select5.style.display='';show.innerText='접기'}else{select5.style.display='none';show.innerText='펼치기'}">정치행정대학
            <ul class="folded" id="select5" style="display: none;">
                <li class="child">정치외교학과</li>
                <li class="child">행정학과</li>
                <li class="child">새마을국제개발학과</li>
                <li class="child">경찰행정학과</li>
                <li class="child">군사학과</li>
                <li class="child">정치외교학과(야)</li>
                <li class="child">행정학과(야)</li>
                <li class="child">새마을국제개발학과(야)</li>
            </ul></li>


            <li class="parent folded" onclick="if(select6.style.display=='none'){select6.style.display='';show.innerText='접기'}else{select6.style.display='none';show.innerText='펼치기'}">상경대학
            <ul class="folded" id="select6" style="display: none;">
                <li class="child">상경대학</li><li class="parent folded">경제금융학부
                <ul class="folded"><li class="child">경제금융전공</li>
                </ul>
            </li>
            <li class="parent folded">무역학부
            </li><ul class="folded"><li class="child">무역학전공</li>
            </ul></li>
            <li class="parent folded">경제금융학부(야)
            <ul class="folded"><li class="child">경제금융전공(야)</li></ul>
            </li>
            <li class="parent folded">무역학부(야)
            <ul class="folded"><li class="child">무역학전공(야)</li></ul>
            </li>
                </ul>
            </li>


            <li class="parent folded" onclick="if(select7.style.display=='none'){select7.style.display='';show.innerText='접기'}else{select7.style.display='none';show.innerText='펼치기'}">경영대학
                <ul class="folded" id="select7" style="display: none;">
                    <li class="child">경영대학</li>
                    <li class="child">경영학과</li>
                    <li class="child">회계세무학과</li>
                    <li class="child">경영학과(야)</li>
                </ul></li>


            <li class="parent folded" onclick="if(select8.style.display=='none'){select8.style.display='';show.innerText='접기'}else{select8.style.display='none';show.innerText='펼치기'}">의과대학
            <ul class="folded" id="select8" style="display: none;">
                <li class="child">의예과</li></ul></li>


            <li class="parent folded" onclick="if(select9.style.display=='none'){select9.style.display='';show.innerText='접기'}else{select9.style.display='none';show.innerText='펼치기'}">약학대학
            <ul class="folded" id="select9" style="display: none;">
                <li class="parent folded">약학부
                <ul class="folded">
                    <li class="child">약학전공</li>
                    <li class="child">제약학전공</li>
                </ul></li></ul></li>

            <li class="parent folded" onclick="if(select10.style.display=='none'){select10.style.display='';show.innerText='접기'}else{select10.style.display='none';show.innerText='펼치기'}">생명응용과학대학
            <ul class="folded" id="select10" style="display: none;">
                <li class="child">식품경제외식학과</li>
                <li class="child">원예생명과학과</li>
                <li class="child">산림자원및조경학과</li>
                <li class="child">식품공학과</li>
                <li class="child">생명공학과</li>
                <li class="child">의생명공학과</li>
                <li class="child">외식산업학과</li>
            </ul>
            </li>

            <li class="parent folded" onclick="if(select11.style.display=='none'){select11.style.display='';show.innerText='접기'}else{select11.style.display='none';show.innerText='펼치기'}">생활과학대학
            <ul class="folded" id="select11" style="display: none;"><li class="child">가족주거학과</li><li class="child">식품영양학과</li><li class="parent folded">체육학부
                <ul class="folded">
                    <li class="child">체육학부</li>
                    <li class="child">체육학전공</li>
                    <li class="child">무용학전공</li></ul>
            </li>
                <li class="child">의류패션학과</li></ul></li>

            <li class="parent folded" onclick="if(select12.style.display=='none'){select12.style.display='';show.innerText='접기'}else{select12.style.display='none';show.innerText='펼치기'}">사범대학
            <ul class="folded" id="select12" style="display: none;">
                <li class="child">교육학과</li>
                <li class="child">국어교육과</li>
                <li class="child">영어교육과</li>
                <li class="child">한문교육과</li>
                <li class="child">수학교육과</li>
                <li class="child">유아교육과</li>
                <li class="child">특수체육교육과</li>
            </ul>
            </li>

            <li class="parent folded" onclick="if(select13.style.display=='none'){select13.style.display='';show.innerText='접기'}else{select13.style.display='none';show.innerText='펼치기'}">디자인미술대학
            <ul class="folded" id="select13" style="display: none;"><li class="parent folded">미술학부
                <ul class="folded">
                    <li class="child">미술학부</li>
                    <li class="child">회화전공</li>
                    <li class="child">트랜스아트전공</li>
                </ul></li>
                <li class="child">시각디자인학과</li>
                <li class="child">산업디자인학과</li>
                <li class="child">생활제품디자인학과</li>
            </ul>
            </li>

            <li class="parent folded" onclick="if(select14.style.display=='none'){select14.style.display='';show.innerText='접기'}else{select14.style.display='none';show.innerText='펼치기'}">음악대학
            <ul class="folded" id="select14" style="display: none;">
                <li class="child">음악과</li>
                <li class="child">성악과</li>
                <li class="child">기악과</li>
            </ul></li>

            <li class="parent folded" onclick="if(select15.style.display=='none'){select15.style.display='';show.innerText='접기'}else{select15.style.display='none';show.innerText='펼치기'}">건축학부
                <ul class="folded" id="select15" style="display: none;">
                    <li class="parent folded">건축학부
                <ul class="folded">
                    <li class="child">건축학부</li>
                    <li class="child">건축학전공</li>
                    <li class="child">건축디자인전공</li>
                    <li class="child">건축공학전공</li>
                </ul>
                    </li>
                </ul>
            </li>

            <li class="parent folded" onclick="if(select16.style.display=='none'){select16.style.display='';show.innerText='접기'}else{select16.style.display='none';show.innerText='펼치기'}">기초교육대학
            <ul class="folded" id="select16" style="display: none;">
                <li class="parent folded">천마인재학부
            <ul class="folded">
                <li class="child">정책과학전공</li>
            </ul></li>
                <li class="child">인문자율전공학부</li>
            </ul></li>

            <li class="parent folded" onclick="if(select17.style.display=='none'){select17.style.display='';show.innerText='접기'}else{select17.style.display='none';show.innerText='펼치기'}">국제학부<ul class="folded" id="select17" style="display: none;"><li class="child">국제학부</li></ul></li>

            <li class="parent folded" onclick="if(select18.style.display=='none'){select18.style.display='';show.innerText='접기'}else{select18.style.display='none';show.innerText='펼치기'}">연계전공
                <ul class="folded" id="select18" style="display: none;">
                    <li class="parent folded">연계
                    <ul class="folded">
                        <li class="child">국제학전공</li>
                        <li class="child">유럽학전공</li>
                        <li class="child">그린카전공</li>
                        <li class="child">다문화전공</li>
                        <li class="child">문화유산해설전공</li>
                        <li class="child">통합사회교육전공</li>
                        <li class="child">통합과학교육전공</li>
                        <li class="child">부동산학전공</li>
                        <li class="child">기술가정교육전공</li>
                        <li class="child">사회복지전공</li>
                        <li class="child">도덕윤리교육전공</li>
                        <li class="child">그린에너지전공</li>
                        <li class="child">글로벌차이나전공</li>
                        <li class="child">국제개발및새마을학전공</li>
                        <li class="child">에너지하이브리드융복합전공</li>
                        <li class="child">금융보험전공</li>
                        <li class="child">기술혁신·기업가정신전공</li>
                        <li class="child">미술보존복원전공</li>
                        <li class="child">기계IT융합전공</li>
                        <li class="child">스마트워터시스템융합전공</li>
                    </ul></li></ul></li>



            <li class="parent folded" onclick="if(select0.style.display=='none'){select19.style.display='';show.innerText='접기'}else{select19.style.display='none';show.innerText='펼치기'}">야간강좌개설부
            <ul class="folded"  id="select19" style="display: none;">
                <li class="child">야간강좌개설부</li>
                <li class="child">국어국문학과(야)</li>
                <li class="child">전기공학과(야)</li>
                <li class="child">정치외교학과(야)</li>
                <li class="child">행정학과(야)</li>
                <li class="child">새마을국제개발학과(야)</li>
                <li class="child">지역및복지행정학과(야)</li>
                <li class="child">경제금융학부(야)</li>
                <li class="child">무역학부(야)</li>
                <li class="child">국제통상학부(야)</li>
                <li class="child">경영학과(야)</li>
            </ul><!--8-->
            </li>
        </ul>

        </div>
    </form>

</th:block>
</html>