<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
    <title>Matching Insert</title>
</th:block>

<th:block layout:fragment="content">
    <div><h2 style="color:green">Matching Insert</h2></div>
    <br><br>
    <div class="card-content">
        <form id="infoForm" name="infoForm" role="infoForm">
            <div class="container">
                <select class="form-control" name="boardtype" id="boardtype">
                    <option id="심부름" name="심부름">심부름</option>
                    <option id="역할대행" name="역할대행">역할대행</option>
                    <option id="멘토멘티" name="멘토멘티">멘토멘티</option>
                </select>
            </div>
            <br>
            <div>
                <label class="col-sm-2 control-label">제목</label>
                <div class="col-sm-10">
                    <input type="text" id="title" name="title" class="form-control" placeholder="제목 입력" required="required"/>
                </div>
            </div>

            <div>
                <label class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10">
                    <textarea id="content" name="content" class="form-control" placeholder="내용 입력" required="required"></textarea>
                </div>
            </div>
            <div>
                <label class="col-sm-2 control-label">요청 금액</label>
                <div class="col-sm-10">
                    <input type="number" min="0" id="money" name="money" class="form-control" placeholder="금액 입력" required="required"/>
                </div>
            </div>
            <div>
                <div>
                    <label th:for="writer" class="col-sm-2 control-label">학번</label>
                    <div class="col-sm-10" >
                        <input type="text" name = "sid" id = "sid" class="form-control" th:value="${userSid}" required="required" readonly/>
                    </div>
                </div>
                <div>
                    <label th:for="writer" class="col-sm-2 control-label">닉네임</label>
                    <div class="col-sm-10" >
                        <input type="text" name = "nickname" id = "nickname" class="form-control" th:value="${userNickname}" required="required" readonly/>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <button type="button" class="btn btn-primary waves-effect waves-light" onClick="importtest()">등록</button>
            <button type="button" onClick="location.href='/yu/matching/matchingList?boardtype=심부름'" class="btn btn-primary waves-effect waves-light">이전</button>
        </div>

    </div>
    <!-- /.card-content -->
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script type="text/javascript">
        //var boardTypeName = getParameterByName("boardtype");
        //$("#" + boardTypeName).attr("selected","selected");
        function importtest(){
            var content=$('#content').val(CKEDITOR.instances.content.getData());
            var title=$('#title');
            var sid = "[[${userSid}]]";
            var bno = "[[${bno}]]";
            alert(bno);
            if(title.val() == "") {
                alert("제목 입력");
                title.focus();
                return false;
            }
            if(content.val() == "") {
                alert("내용 입력");
                return false;
            }
            var IMP = window.IMP;
            IMP.init('imp14540701');
            var money = $('#money').val();
            IMP.request_pay({
                pg: 'kakao',
                merchant_uid: 'merchant_' + bno+'_'+sid,
                name : bno,
                amount: money,
                buyer_tel: '[[${userphonenum}]]',
            }, function (rsp) {
                console.log(rsp);
                if (rsp.success) {
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                    dataSend();
                } else {
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                }
                alert(msg);
            });
        }
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        function dataSend() {
            let queryString = $('#infoForm').serialize();
            var boardtype = $('#boardtype').val();

            $.ajax({
                type: "POST",
                url: "/yu/matchingInsert",
                data: queryString,
                success: function (data) {
                    if (data == $('#sid').val()) {
                        alert("등록 성공");
                        location.href = '/yu/matching/matchingList?boardtype=' + boardtype;
                    } else
                        alert("등록 실패");
                }, error: function () {
                    alert(queryString);
                    return false;
                }
            });
            return false;
        }
    </script>
    <script th:src="@{/scripts/ckeditor.js}">
    </script>
</th:block>
</html>
