<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="script">
<script type="text/javascript">
    var webSocket;
    var nickname="[[${userSid}]]";
    var roomId = "[[${chatRoom.roomId}]]";
    webSocket = new WebSocket("ws://localhost:8080/chat");
    webSocket.onopen = onOpen;
    webSocket.onmessage = onMessage;
    window.onbeforeunload = function(){
        webSocket.send(JSON.stringify({id : roomId,type:'LEAVE',writer:nickname}));
        webSocket.close();
    }
    function send(){
        msg = document.getElementById("message").value;
        webSocket.send(JSON.stringify({id : roomId,type:'CHAT',writer:nickname,message : msg}));
        document.getElementById("message").value = "";
    }
    function onOpen(){
        webSocket.send(JSON.stringify({id : roomId,type:'ENTER',writer:nickname}));
    }
    function onMessage(e){
        data = e.data;
        chatroom = document.getElementById("chating");
        chatroom.innerHTML = chatroom.innerHTML + "<br>" + data;
    }
    function successMatching(){
        if(confirm("완료 처리할까요?")) {
            var bno = "[[${bno}]]";
            $.ajax({
                type: "PUT",
                url : "/matchingSuccess",
                data : {
                    bno : bno,
                },
                success : function(data){
                    if(data == true) {
                        alert("완료 성공");
                        location.href = '/yu/matching/matchingList?boardtype=심부름';
                    }
                    else
                        alert("완료 실패");
                },error : function(){
                    alert("Error");
                    return false;
                }
            });
        }
        else return false;
    }
    function cancelMatching(){
        if(confirm("취소하시겠습니까?")) {
            var bno = "[[${bno}]]";
            $.ajax({
                type: "PUT",
                url : "/matchingCancel",
                data : {
                    bno : bno,
                },
                success : function(data){
                    if(data == true) {
                        alert("취소 요청 성공");
                        location.href = '/yu/matching/matchingList?boardtype=심부름';
                    }
                    else
                        alert("취소 요청 실패");
                },error : function(){
                    alert("Error");
                    return false;
                }
            });
        }
        else return false;
    }
</script>

</th:block>
<th:block layout:fragment="title">
    <title>Matching View</title>
</th:block>
<th:block layout:fragment="content">
<h2>진행중</h2>
    <div id="container" class="container">
        <h1>채팅</h1>
        <div id="chating" class="chating">
        </div>
        <div id="yourMsg">
            <table class="inputTable">
                <tr>
                    <th>메시지</th>
                    <th><input onkeypress="if(event.keyCode==13){send()}" id="message" placeholder="보내실 메시지를 입력하세요."></th>
                    <th><button type="button" onclick="send()" class="btn btn-primary waves-effect waves-light"  id="sendBtn">보내기</button></th>
                </tr>
            </table>
        </div>
    </div>
<span th:text="${userSid}"></span><br>
    <button type="button" class="btn btn-primary waves-effect waves-light" onClick="cancelMatching()">취소</button>
    <button th:if="${userSid}==${requestSid}" type="button" class="btn btn-primary waves-effect waves-light" onClick="successMatching()">완료</button>
</th:block>
</html>