<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="script">
	<script type="text/javascript"> 
    </script>
</th:block>

<th:block layout:fragment="title">
    <title>Matching View</title>
</th:block>

<th:block layout:fragment="content">
	<input type = "hidden" th:id="${matching.bno}" name="matchingNumber">

    <div><h2 th:text="${matching.getTitle()}"></h2></div>
    <br><br>
    <div class="card-content">
        <form id="infoForm" name="infoForm">
        <br>
            <div>
                <div class="col-sm-10">
                	<b>&lt;작성일&gt;</b> <span th:text="${matching.register_date}"></span><br>
                	<b>&lt;조회&gt;</b> <span th:text="${matching.readcount}"></span><br>
                	<b>&lt;작성자&gt;</b> <span th:text="${matching.request_nickname}"></span>
                </div>
                <br>
                <div>
                	<textarea id = "contentArea" th:inline="text" class="form-control" readonly>[[${matching.content}]]</textarea>
                </div>
            </div>
        </form>
        <div>
            <a th:if="${userSid} != null" type="button" class="btn btn-primary waves-effect waves-light" th:href="'/matching/matchingUpdate/'+${matching.getBno()}">수정</a>
            <button type="button" onClick="location.href='/matching/matchingList?boardtype=심부름'" class="btn btn-primary waves-effect waves-light">이전</button>
        </div>
    </div>
    <!-- /.card-content -->
</th:block>
</html>