<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="script">
<script type="text/javascript">
    function proceedMatching(){
    if(confirm("요청하시겠습니까?")) {
        var bno = [[${matching.bno}]];
        var sid = "[[${userSid}]]";
        if($('#bankname').val() == "") {
            alert("은행 이름 입력");
            $('#bankname').focus();
            return false;
        }
        if($('#account').val() == "") {
            alert("계좌번호 입력");
            $('#account').focus();
            return false;
        }
        if($('#accountname').val() == "") {
            alert("계좌이름 입력");
            $('#accountname').focus();
            return false;
        }
        var account = $('#bankname').val()+", "+$('#account').val()+", "+$('#accountname').val();
        $.ajax({
            type: "PUT",
            url : "/matchingProceed",
            data : {
                bno : bno,
                sid : sid,
                account : account,
            },
            success : function(data){
                if(data == true) {
                    alert("요청 성공");
                    location.href = '/yu/matching/matchingProceeding/'+bno;
                }
                else
                    alert("요청 실패");
            },error : function(){
                alert("Error");
                return false;
            }
        });
    }
    else return false;
    }
    function deleteMatching(bno) {
        var check="[[${matching.check_success}]]";
        if(check!="F"){
            alert("진행중인 매칭입니다.");
            return false;
        }
        if(confirm("게시글을 삭제하시겠습니까?")) {
            $.ajax({
                type: "PUT",
                url : "/matchingDelete",
                data : {
                    bno : bno
                },
                success : function(data){
                    if(data == true) {
                        alert("게시글 삭제 성공");
                        location.href = '/yu/matching/matchingList?boardtype=자유게시판';
                    }
                    else
                        alert("게시글 삭제 실패");
                },error : function(){
                    alert("Error");
                    return false;
                }
            });
        }
        else return false;
    }
    function cancelMatchingForm(part) {
        document.getElementById(part + "matchingForm").style.display = "none";
        document.getElementById(part + "bankname").value = "";
        document.getElementById(part + "account").value = "";
        document.getElementById(part + "accountname").value = "";
    }
</script>
</th:block>

<th:block layout:fragment="title">
    <title>Matching View</title>
</th:block>

<th:block layout:fragment="content">
	<input type = "hidden" th:id="${matching.bno}" name="matchingNumber">

    <div><h2 th:text="${matching.getTitle()}"></h2></div>
    <br><br>
    <div class="card-content">
        <form id="infoForm" name="infoForm" style="display: inline-block">
        <br>
            <div>
                <div class="col-sm-10">
                	<b>&lt;작성일&gt;</b> <span th:text="${matching.register_date}"></span><br>
                	<b>&lt;조회&gt;</b> <span th:text="${matching.readcount}"></span><br>
                	<b>&lt;작성자&gt;</b> <span th:text="${matching.request_nickname}"></span><br>
                	<b>&lt;해결여부&gt;</b> <span th:if="${matching.accept_sid} == null">NO</span>
                	<span th:unless="${matching.accept_sid} == null">YES</span>
                    <b>&lt;금액&gt;</b> <span th:text="${matching.money}"></span><br>
                    <div th:utext="${matching.content}" style="width:1000px; height:auto; border:1px solid green">
                    </div>
                </div>
                <br>
            </div>
        </form>
        <div class="col-sm-10">
            <a th:if="${userSid} == ${matching.request_sid}" type="button" class="btn btn-primary waves-effect waves-light" th:href="'/matching/matchingUpdate/'+${matching.getBno()}">수정</a>
            <button type="button" onClick="location.href='/yu/matching/matchingList?boardtype=심부름'" class="btn btn-primary waves-effect waves-light">이전</button>
            <button th:if="${userSid} == ${matching.request_sid}" type="button" th:onClick="|return deleteMatching(${matching.getBno()});|" class="btn btn-primary waves-effect waves-light">삭제</button>
            <button th:if="${userSid} != null" type="button" onClick="document.getElementById('matchingForm').style.display='block';" class="btn btn-primary waves-effect waves-light">요청</button>
        </div>
    </div>
    <br><br><br>
    <div id="matchingForm" style="margin-left:20%; width:300px; height:210px; border:1px solid #ff0000;
    line-height:70%; text-align:center; display:none">
        <div style="font-size:10pt; text-align:left; margin-left:5%; margin-top:10px;">
            <br><b>&lt;요청&gt;</b>
            <div style="font-size:10pt; text-align:left; margin-right:5%">
                <br>은행　　 <input type="text" id = "bankname" name = "bankname"/> <br><br>
                계좌번호 <input type="text"  id = "account" name = "account" /> <br><br>
                이름　　 <input type="text" id = "accountname" name = "accountname" />
            </div>
            <br>
        </div>
        <br>
        <div>
            <button type="button" onClick="proceedMatching()" class="btn btn-primary waves-effect waves-light">등록</button>
            <button type="button" onClick="cancelMatchingForm('');" class="btn btn-primary waves-effect waves-light">취소</button>
        </div>
    </div>
</th:block>
</html>