<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   <title>YU Graph</title>
</th:block>

<th:block layout:fragment="article">
      <div class="container-fluid">
        <div class="card text-center mb-3">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#all" data-toggle="tab">인기강의</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#matching" data-toggle="tab">매칭 통계</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#eval" data-toggle="tab">게시판 통계</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#board" data-toggle="tab">학년별 게시판 이용현황</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="all">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" name="grade" type="radio" value="1" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        1학년
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="grade" type="radio" value="2" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        2학년
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="grade" type="radio" value="3" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        3학년
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="grade" type="radio" value="4" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        4학년
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
		<div class="tab-pane" id="matching">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <br>
                <div class="form-check">
                  <input class="form-check-input" name="check11" type="checkbox" value="1" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    	평균금액(원)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="check22" type="checkbox" value="1" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    	성사율(%)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="check33" type="checkbox" value="1" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    	최근 일주일 등록 매칭(계)
                  </label>
                </div>
              </div>
              <div class="col-md-9">
                <canvas id="myChart1"></canvas>
              </div>
            </div>
          </div>
        </div>
            <div class="tab-pane" id="eval">
              <!--내 글보기-->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" name="check1" type="checkbox" value="1" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        게시글 수
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="check2" type="checkbox" value="1" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        작성자 수
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="check3" type="checkbox" value="1" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        좋아요 수
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="check4" type="checkbox" value="1" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        댓글 수
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <canvas id="myChart2"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="board">
              <!--고객센터-->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" name="grade6" type="radio" value="1" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        1학년
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="grade6" type="radio" value="2" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        2학년
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="grade6" type="radio" value="3" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        3학년
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="grade6" type="radio" value="4" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        4학년
                      </label>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <canvas id="myChart3"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</th:block>

<th:block layout:fragment="script">
  <script>
    $('a[data-toggle="tab"]').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('a[data-toggle="tab"]').on("shown.bs.tab", function(e) {
      var id = $(e.target).attr("href");
      localStorage.setItem('selectedTab', id)
    });

    var selectedTab = localStorage.getItem('selectedTab');
    if (selectedTab != null) {
      $('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
    }
  </script>

  <script type="text/javascript">
    Chart.plugins.register({
      afterDatasetsDraw: function(chart) {
        var ctx = chart.ctx;
        chart.data.datasets.forEach(function(dataset, i) {
          var meta = chart.getDatasetMeta(i);
          if (!meta.hidden) {
            meta.data.forEach(function(element, index) {
              // Draw the text in black, with the specified font
              ctx.fillStyle = '#3f3f3f';
              var fontSize = 15;
              var fontStyle = 'normal';
              var fontFamily = 'Helvetica Neue';
              ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);
              // Just naively convert to string for now
              var dataString = dataset.data[index].toString();
              // Make sure alignment settings are correct
              ctx.textAlign = 'center';
              ctx.textBaseline = 'middle';
              var padding = 5;
              var position = element.tooltipPosition();
              ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
            });
          }
        });
      }
    });
  </script>

 <script>
 	var syearOne = null, syearTwo = null, syearThree = null, syearFour = null;
 	var limit = 5;
    var ctx = document.getElementById('myChart');

  	var emptyData = {
         "labels": ['정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음'],
   		 "datasets":{
   			 	"data": [0, 0, 0, 0, 0],
   	           "backgroundColor": ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
   	           "borderColor": ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
   	           "borderWidth": 1
   		 }
     };
    
    var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
        labels: ['1위과목 이름', '2위과목 이름', '3위과목 이름', '4위과목 이름', '5위과목 이름'],
        datasets: [{
          label: ['asfasf'],
          data: [0, 0, 0, 0, 0],
          backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
          borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
          borderWidth: 1
        }]
      },
      options: {
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

    function changeData(chart, data) {
        var new_data = data.datasets.data;
        var new_back = data.datasets.backgroundColor;
        var new_border = data.datasets.borderColor;
        var new_width = data.datasets.borderWidth;
        var new_label = data.labels;

        chart.data.datasets.push({
          data: new_data,
          backgroundColor: new_back,
          borderColor: new_border,
          borderWidth: new_width,
        });
        chart.data.labels= new_label;
        chart.update();
      }

      function removeData(chart, data) {
        chart.data.datasets.pop({
          data: data
        });
        chart.update();
      }

    $("input[name=grade]").change(function() {
      var radioValue = $(this).val();
      if (radioValue == "1") {
    	  var reData;
    	if (syearOne == null && syearOne != "N") {
    		$.ajax ({
        		type: "POST",
        		url: "/yu/getPopularLectureList",
                data: {
                	syear: 1,
                	limit: limit
                },
                success: function (result) {
                if (result.length != 0) {
                	var data = [0, 0, 0, 0, 0];
                	var labels = ['정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음'];
                	
                	data[0] = result[0].avgstar;
                	labels[0] = result[0].lecturename;
                  	if(result[1] != null) {
                  		data[1] = result[1].avgstar;
                  		labels[1] = result[1].lecturename;
                  	}
                  	if (result[2] != null) {
                  		data[2] = result[2].avgstar;
                  		labels[2] = result[2].lecturename;
                  	}
                  	if (result[3] != null) {
                  		data[3] = result[3].avgstar;
                  		labels[3] = result[3].lecturename;
                  	}
                  	if (result[4] != null) {
                  		data[4] = result[4].avgstar;
                  		labels[4] = result[4].lecturename;
                  	}
                    reData = {
                    	"labels": labels,
                  		 "datasets":{
                  			 	"data": data,
                  	           "backgroundColor": ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
                  	           "borderColor": ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
                  	           "borderWidth": 1
                  		 }
                    };
                    syearOne = reData;
                    removeData(myChart);
                    changeData(myChart, reData);
                }
                else {
                    removeData(myChart);
                    changeData(myChart, emptyData);
                	syearOne = "N";
                   alert("데이터가 없습니다");
                }
            }, error: function () {
                    alert("error");
                }
        	});
    	}
    	else if (syearOne != "N") {
    		reData = syearOne;
            removeData(myChart);
            changeData(myChart, reData);
    	}
    	else if (syearOne == "N") {
            removeData(myChart);
            changeData(myChart, emptyData);
    	}
      } else if (radioValue == "2") {
    	  var reData;
      	if (syearTwo == null && syearTwo != "N") {
      		$.ajax ({
          		type: "POST",
          		url: "/yu/getPopularLectureList",
                  data: {
                  	syear: 2,
                  	limit: limit
                  },
                  success: function (result) {
                	  console.log(result);
                  if (result.length != 0) {
                  	var data = [0, 0, 0, 0, 0];
                  	var labels = ['정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음'];
                  	
                  	data[0] = result[0].avgstar;
                  	labels[0] = result[0].lecturename;
                  	if(result[1] != null) {
                  		data[1] = result[1].avgstar;
                  		labels[1] = result[1].lecturename;
                  	}
                  	if (result[2] != null) {
                  		data[2] = result[2].avgstar;
                  		labels[2] = result[2].lecturename;
                  	}
                  	if (result[3] != null) {
                  		data[3] = result[3].avgstar;
                  		labels[3] = result[3].lecturename;
                  	}
                  	if (result[4] != null) {
                  		data[4] = result[4].avgstar;
                  		labels[4] = result[4].lecturename;
                  	}
                      reData = {
                      	"labels": labels,
                    		 "datasets":{
                    			 	"data": data,
                    	           "backgroundColor": ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
                    	           "borderColor": ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
                    	           "borderWidth": 1
                    		 }
                      };
                      syearTwo = reData;
                      removeData(myChart);
                      changeData(myChart, reData);
                  }
                  else {
                	  syearTwo = "N";
                      removeData(myChart);
                      changeData(myChart, emptyData);
                     alert("데이터가 없습니다");
                  }
              }, error: function () {
                      alert("error");
                  }
          	});
      	}
      	else if (syearTwo != "N") {
      		reData = syearTwo;
              removeData(myChart);
              changeData(myChart, reData);
      	}
    	else if (syearTwo == "N") {
            removeData(myChart);
            changeData(myChart, emptyData);
    	}
      } else if (radioValue == "3") {
    	  var reData;
        	if (syearThree == null && syearThree != "N") {
        		$.ajax ({
            		type: "POST",
            		url: "/yu/getPopularLectureList",
                    data: {
                    	syear: 3,
                    	limit: limit
                    },
                    success: function (result) {
                    if (result.length != 0) {
                    	var data = [0, 0, 0, 0, 0];
                    	var labels = ['정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음'];
                    	
                    	data[0] = result[0].avgstar;
                    	labels[0] = result[0].lecturename;
                      	if(result[1] != null) {
                      		data[1] = result[1].avgstar;
                      		labels[1] = result[1].lecturename;
                      	}
                      	if (result[2] != null) {
                      		data[2] = result[2].avgstar;
                      		labels[2] = result[2].lecturename;
                      	}
                      	if (result[3] != null) {
                      		data[3] = result[3].avgstar;
                      		labels[3] = result[3].lecturename;
                      	}
                      	if (result[4] != null) {
                      		data[4] = result[4].avgstar;
                      		labels[4] = result[4].lecturename;
                      	}
                        reData = {
                        	"labels": labels,
                      		 "datasets":{
                      			 	"data": data,
                      	           "backgroundColor": ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
                      	           "borderColor": ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
                      	           "borderWidth": 1
                      		 }
                        };
                        syearThree = reData;
                        removeData(myChart);
                        changeData(myChart, reData);
                    }
                    else {
                    	syearThree = "N";
                        removeData(myChart);
                        changeData(myChart, emptyData);
                       alert("데이터가 없습니다");
                    }
                }, error: function () {
                        alert("error");
                    }
            	});
        	}
        	else if (syearThree != "N") {
        		reData = syearThree;
                removeData(myChart);
                changeData(myChart, reData);
        	}
        	else if (syearThree == "N") {
                removeData(myChart);
                changeData(myChart, emptyData);
        	}
      } else if (radioValue == "4") {
    	  var reData;
        	if (syearFour == null && syearFour != "N") {
        		$.ajax ({
            		type: "POST",
            		url: "/yu/getPopularLectureList",
                    data: {
                    	syear: 4,
                    	limit: limit
                    },
                    success: function (result) {
                    if (result.length != 0) {
                    	var data = [0, 0, 0, 0, 0];
                    	var labels = ['정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음'];
                    	
                    	data[0] = result[0].avgstar;
                    	labels[0] = result[0].lecturename;
                      	if(result[1] != null) {
                      		data[1] = result[1].avgstar;
                      		labels[1] = result[1].lecturename;
                      	}
                      	if (result[2] != null) {
                      		data[2] = result[2].avgstar;
                      		labels[2] = result[2].lecturename;
                      	}
                      	if (result[3] != null) {
                      		data[3] = result[3].avgstar;
                      		labels[3] = result[3].lecturename;
                      	}
                      	if (result[4] != null) {
                      		data[4] = result[4].avgstar;
                      		labels[4] = result[4].lecturename;
                      	}
                        reData = {
                        	"labels": labels,
                      		 "datasets":{
                      			 	"data": data,
                      	           "backgroundColor": ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
                      	           "borderColor": ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
                      	           "borderWidth": 1
                      		 }
                        };
                        syearFour = reData;
                        removeData(myChart)
                        changeData(myChart, reData)
                    }
                    else {
                    	syearFour = "N";
                        removeData(myChart);
                        changeData(myChart, emptyData);
                       alert("데이터가 없습니다");
                    }
                }, error: function () {
                        alert("error");
                    }
            	});
        	}
        	else if (syearFour != "N") {
        		reData = syearFour;
                removeData(myChart);
                changeData(myChart, reData);
        	}
        	else if (syearFour == "N") {
                removeData(myChart);
                changeData(myChart, emptyData);
        	}
      }
    });

    $(document).on('click', '#btn', function() {
      removeData(myChart);
      changeData(myChart, reData);
    });
  </script>
  
<script>
    var avgMoneyTotal = null;
    var successTotal = null;
    var registerTotal = null;

    const colors1 = ['rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)'];
    var chBar = document.getElementById("myChart1");
    var abcd1 = {
    	      labels: ["전체", "청소", "배달", "역할대행", "심부름"],
    	      datasets: [{
    	       label: '평균 금액(원)',
    	        data: [0, 0, 0, 0, 0],
    	        backgroundColor: colors1[0],
    	        borderColor: colors1[0],
    	        borderWidth: 1,
    	        yAxisID:'A'
    	      }, {
    	       label: '성사율(%)',
    	        data: [0, 0, 0, 0, 0],
    	        backgroundColor: colors1[1],
    	        borderColor: colors1[1],
    	        borderWidth: 1,
    	        yAxisID: 'B'
    	      }, {
    	       label: '최근 일주일 등록 매칭(계)',
    	        data: [0, 0, 0, 0, 0],
    	        backgroundColor: colors1[2],
    	        borderColor: colors1[2],
    	        borderWidth: 1,
    	        yAxisID: 'B'
    	      }]
    	    };


    	    var myChart1 = new Chart(chBar, {
    	      type: 'bar',
    	      data: abcd1,
    	      options: {
    	    	legend:{
    	           position:'bottom'
    	        },
    	        scales: {
    	          yAxes: [{
    	            ticks: {
    	              beginAtZero: true
    	            },
    	            id: 'A',
    	            type: 'linear',
    	            position: 'left',
    	          }, {
    	            id: 'B',
    	            type: 'linear',
    	            position: 'right',
    	            ticks: {
    	              max: 100,
    	              min: 0
    	            }
    	          }]
    	        }
    	      }
    	    });
    $(document).ready(function() {
      $("input[name=check11]").change(function() {
        if ($("input[name=check11]").is(":checked")) {
          var newDataset;

          if(avgMoneyTotal == null) {
            $.ajax ({
              type: "POST",
              url: "/yu/getMatchingStatistics",
              data: {
                type: "avgMoney"
              },
              success: function (result) {
                if (result != "") {
                  newDataset = {
                    data: [result.total_count, result.cleaning_count, result.delivery_count, result.role_count, result.errand_count],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 0.2)',
                    borderWidth: 1,
                  };
                  myChart1.data.datasets[0].data = newDataset.data;
                  myChart1.update();
                  avgMoneyTotal = newDataset.data;
                }
                else {
                  alert("차트 불러오기 실패");
                }
              }, error: function () {
                alert("error");
              }
            });
          }
          else {
            myChart1.data.datasets[0].data = avgMoneyTotal;
            myChart1.update();
          }
        } else {
          myChart1.data.datasets[0].data = 0;
          myChart1.update(); //차트 업데이트
        }
      });
    });
    $(document).ready(function() {
      $("input[name=check22]").change(function() {
        if ($("input[name=check22]").is(":checked")) {
          var newDataset;

          if(successTotal == null) {
            $.ajax ({
              type: "POST",
              url: "/yu/getMatchingStatistics",
              data: {
                type: "successPercentage"
              },
              success: function (result) {
                if (result != "") {
                  newDataset = {
                    data: [result.total_count, result.cleaning_count, result.delivery_count, result.role_count, result.errand_count],
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 0.5)',
                    borderWidth: 1,
                  };
                  myChart1.data.datasets[1].data = newDataset.data;
                  myChart1.update();
                  successTotal = newDataset.data;
                }
                else {
                  alert("차트 불러오기 실패");
                }
              }, error: function () {
                alert("error");
              }
            });
          }
          else {
            myChart1.data.datasets[1].data = successTotal;
            myChart1.update();
          }
        } else {
          myChart1.data.datasets[1].data = 0;
          myChart1.update(); //차트 업데이트
        }
      });
    });
    $(document).ready(function() {
      $("input[name=check33]").change(function() {
        if ($("input[name=check33]").is(":checked")) {
          var newDataset;

          if(registerTotal == null) {
            $.ajax ({
              type: "POST",
              url: "/yu/getMatchingStatistics",
              data: {
                type: "recentlyRegistered"
              },
              success: function (result) {
                if (result != "") {
                  newDataset = {
                    data: [result.total_count, result.cleaning_count, result.delivery_count, result.role_count, result.errand_count],
                    backgroundColor: 'rgba(255, 206, 86, 0.5)',
                    borderColor: 'rgba(255, 206, 86, 0.5)',
                    borderWidth: 1,
                  };
                  myChart1.data.datasets[2].data = newDataset.data;
                  myChart1.update();
                  registerTotal = newDataset.data;
                }
                else {
                  alert("차트 불러오기 실패");
                }
              }, error: function () {
                alert("error");
              }
            });
          }
          else {
            myChart1.data.datasets[2].data = registerTotal;
            myChart1.update();
          }
        } else {
          myChart1.data.datasets[2].data = 0;
          myChart1.update(); //차트 업데이트
        }
      });
    });
  </script>
  <script>
  var boardTotal = null;
  var writerTotal = null;
  var likeTotal = null;
  var commentTotal = null;
  
    const colors = ['rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)'];
    var chBar = document.getElementById("myChart2");
    var abcd = {
      labels: ["전체", "자유게시판", "중고게시판", "정보게시판", "질문게시판"],
      datasets: [{
    	label: '게시글 수',
        data: [0, 0, 0, 0,0],
        backgroundColor: colors[0],
        borderColor: colors[0],
        borderWidth: 1
      }, {
    	label: '작성자 수',
        data: [0, 0, 0, 0,0],
        backgroundColor: colors[1],
        borderColor: colors[1],
        borderWidth: 1
      }, {
    	label: '좋아요 수',
        data: [0, 0, 0, 0,0],
        backgroundColor: colors[2],
        borderColor: colors[2],
        borderWidth: 1
      }, {
    	label: '댓글 수',
        data: [0, 0, 0, 0,0],
        backgroundColor: colors[3],
        borderColor: colors[3],
        borderWidth: 1
      }]
    };


    var myChart2 = new Chart(chBar, {
      type: 'bar',
      data: abcd,
      options: {
	   	legend:{
 	      position:'bottom'
 	    },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    $(document).ready(function() {
      $("input[name=check1]").change(function() {
        if ($("input[name=check1]").is(":checked")) {
        	var newDataset;
        	
        	if(boardTotal == null) {
        		$.ajax ({
            		type: "POST",
            		url: "/yu/getBoardStatistics",
                    data: {
                    	type: "boardCount"
                    },
                    success: function (result) {
                    if (result != "") {
                    	newDataset = {
                                data: [result.total_count, result.free_count, result.used_count, result.knowledge_count, result.question_count],
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 0.2)',
                                borderWidth: 1,
                        };
                        myChart2.data.datasets[0].data = newDataset.data;
                        myChart2.update();
                        boardTotal = newDataset.data;
                    }
                    else {
                       alert("차트 불러오기 실패");
                    }
                }, error: function () {
                        alert("error");
                    }
            	});
        	}
        	else {
                myChart2.data.datasets[0].data = boardTotal;
                myChart2.update();
        	}
        } else {
          myChart2.data.datasets[0].data = 0;
          myChart2.update(); //차트 업데이트
        }
      });
    });
    $(document).ready(function() {
      $("input[name=check2]").change(function() {
        if ($("input[name=check2]").is(":checked")) {
          var newDataset;
          
          if(writerTotal == null) {
      		$.ajax ({
        		type: "POST",
        		url: "/yu/getBoardStatistics",
                data: {
                	type: "writerCount"
                },
                success: function (result) {
                if (result != "") {
                	newDataset = {
                            data: [result.total_count, result.free_count, result.used_count, result.knowledge_count, result.question_count],
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(54, 162, 235, 0.5)',
                            borderWidth: 1,
                    };
                    myChart2.data.datasets[1].data = newDataset.data;
                    myChart2.update();
                    writerTotal = newDataset.data;
                }
                else {
                   alert("차트 불러오기 실패");
                }
            }, error: function () {
                    alert("error");
                }
        	});
          }
          else {
              myChart2.data.datasets[1].data = writerTotal;
              myChart2.update();
          }
        } else {
          myChart2.data.datasets[1].data = 0;
          myChart2.update(); //차트 업데이트
        }
      });
    });
    $(document).ready(function() {
      $("input[name=check3]").change(function() {
        if ($("input[name=check3]").is(":checked")) {
          var newDataset;
          
          if(likeTotal == null) {
        	  $.ajax ({
          		type: "POST",
          		url: "/yu/getBoardStatistics",
                  data: {
                  	type: "likeCount"
                  },
                  success: function (result) {
                  if (result != "") {
                  	newDataset = {
                              data: [result.total_count, result.free_count, result.used_count, result.knowledge_count, result.question_count],
                              backgroundColor: 'rgba(255, 206, 86, 0.5)',
                              borderColor: 'rgba(255, 206, 86, 0.5)',
                              borderWidth: 1,
                      };
                      myChart2.data.datasets[2].data = newDataset.data;
                      myChart2.update();
                      likeTotal = newDataset.data;
                  }
                  else {
                     alert("차트 불러오기 실패");
                  }
              }, error: function () {
                      alert("error");
                  }
          	});
          }
          else {
              myChart2.data.datasets[2].data = likeTotal;
              myChart2.update();
          }
        } else {
          myChart2.data.datasets[2].data = 0;
          myChart2.update(); //차트 업데이트
        }
      });
    });
    $(document).ready(function() {
      $("input[name=check4]").change(function() {
        if ($("input[name=check4]").is(":checked")) {
          var newDataset;
          
          if(commentTotal == null) {
        	  $.ajax ({
            		type: "POST",
            		url: "/yu/getBoardStatistics",
                    data: {
                    	type: "commentCount"
                    },
                    success: function (result) {
                    if (result != "") {
                    	newDataset = {
                                data: [result.total_count, result.free_count, result.used_count, result.knowledge_count, result.question_count],
                                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                                borderColor: 'rgba(75, 192, 192, 0.5)',
                                borderWidth: 1,
                        };
                        myChart2.data.datasets[3].data = newDataset.data;
                        myChart2.update();
                        commentTotal = newDataset.data;
                    }
                    else {
                       alert("차트 불러오기 실패");
                    }
                }, error: function () {
                        alert("error");
                    }
            	});
          }
          else {
              myChart2.data.datasets[3].data = commentTotal;
              myChart2.update();
          }
        } else {
          myChart2.data.datasets[3].data = 0;
          myChart2.update(); //차트 업데이트
        }
      });
    });
  </script>
  
<script>
	var syearDOne = null, syearDTwo = null, syearDThree = null, syearDFour = null;
    var chDonut1 = document.getElementById("myChart3");
    var myChart3 = new Chart(chDonut1, {
      label: ['자유게시판', '중고게시판', '정보게시판','질문게시판'],
      type: 'pie',
      data: {
        labels: ['자유게시판', '중고게시판', '정보게시판','질문게시판'],
        datasets: [{
          data: [0, 0, 0,0 ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)'
          ],
          borderWidth: 0,
        }]
      },
      options: {
        cutoutPercentage: 30, //도넛두께 : 값이 클수록 얇아짐
        legend: {
          position: 'bottom',
          padding: 5,
          labels: {
            pointStyle: 'circle',
            usePointStyle: true
          }
        }
      }
    });

    function changeData1(chart, data) {
      var new_data1 = data.data;
      var new_back1 = data.backgroundColor;
      var new_width1 = data.borderWidth;

      chart.data.datasets.push({
        data: new_data1,
        backgroundColor: new_back1,
        borderWidth: new_width1
      });
      chart.update();
    }

    function removeData1(chart, data) {
      chart.data.datasets.pop({
        data: data
      });
      chart.update();
    }

    $("input[name=grade6]").change(function() {
      var radioValue = $(this).val();
      if (radioValue == "1") {
        var chDonutData;
        
        if(syearDOne == null) {
      		$.ajax ({
        		type: "POST",
        		url: "/yu/getBoardUsageStatus",
                data: {
                	syear: 1
                },
                success: function (result) {
                if (result != "") {
                	chDonutData = {
                	          "data": [result.free_count, result.used_count, result.knowledge_count, result.question_count],
                	          "backgroundColor": [
                	            'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.2)'
                	          ],
                	          "borderWidth": 0
                	};
                	removeData1(myChart3);
                    changeData1(myChart3, chDonutData);
                   	syearDOne = chDonutData;
                }
                else {
                   alert("차트 불러오기 실패");
                }
            }, error: function () {
                    alert("error");
                }
        	});
          }
          else {
              chDonutData = syearDOne;
              removeData1(myChart3);
              changeData1(myChart3, chDonutData);
          }
      } else if (radioValue == "2") {
          var chDonutData;
          
          if(syearDTwo == null) {
        		$.ajax ({
          		type: "POST",
          		url: "/yu/getBoardUsageStatus",
                  data: {
                  	syear: 2
                  },
                  success: function (result) {
                  if (result != "") {
                  	chDonutData = {
                  	          "data": [result.free_count, result.used_count, result.knowledge_count, result.question_count],
                  	          "backgroundColor": [
                  	            'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.2)'
                  	          ],
                  	          "borderWidth": 0
                  	};
                  	removeData1(myChart3);
                      changeData1(myChart3, chDonutData);
                     	syearDTwo = chDonutData;
                  }
                  else {
                     alert("차트 불러오기 실패");
                  }
              }, error: function () {
                      alert("error");
                  }
          	});
            }
            else {
                chDonutData = syearDTwo;
                removeData1(myChart3);
                changeData1(myChart3, chDonutData);
            }
      } else if (radioValue == "3") {
          var chDonutData;
          
          if(syearDThree == null) {
        		$.ajax ({
          		type: "POST",
          		url: "/yu/getBoardUsageStatus",
                  data: {
                  	syear: 3
                  },
                  success: function (result) {
                  if (result != "") {
                  	chDonutData = {
                  	          "data": [result.free_count, result.used_count, result.knowledge_count, result.question_count],
                  	          "backgroundColor": [
                  	            'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.2)'
                  	          ],
                  	          "borderWidth": 0
                  	};
                  	removeData1(myChart3);
                      changeData1(myChart3, chDonutData);
                     	syearDThree = chDonutData;
                  }
                  else {
                     alert("차트 불러오기 실패");
                  }
              }, error: function () {
                      alert("error");
                  }
          	});
            }
            else {
                chDonutData = syearDThree;
                removeData1(myChart3);
                changeData1(myChart3, chDonutData);
            }
      } else if (radioValue == "4") {
          var chDonutData;
          
          if(syearDFour == null) {
        		$.ajax ({
          		type: "POST",
          		url: "/yu/getBoardUsageStatus",
                  data: {
                  	syear: 4
                  },
                  success: function (result) {
                  if (result != "") {
                  	chDonutData = {
                  	          "data": [result.free_count, result.used_count, result.knowledge_count, result.question_count],
                  	          "backgroundColor": [
                  	            'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.2)'
                  	          ],
                  	          "borderWidth": 0
                  	};
                  	removeData1(myChart3);
                      changeData1(myChart3, chDonutData);
                      syearDFour = chDonutData;
                  }
                  else {
                     alert("차트 불러오기 실패");
                  }
              }, error: function () {
                      alert("error");
                  }
          	});
            }
            else {
                chDonutData = syearDFour;
                removeData1(myChart3);
                changeData1(myChart3, chDonutData);
            }
      }
    });
  </script>
</th:block>
</html>