<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="title">
    <title>YU 커뮤니티 이용규칙</title>
</th:block>

<th:block layout:fragment="article">
    <div class="container-fluid">
        <h4>커뮤니티이용규칙</h4>
        <br>
        <h5>커뮤니티 이용규칙</h5>
        <li>1. 커뮤니티를 이용하기 전 커뮤니티 이용규칙의 모든 내용을 반드시 숙지해주시기 바랍니다.</li>
        <li>2. 이 약관의 정의는 서비스 이용약관을 따릅니다.</li>
        <br><br><br>
        <h5>신고처리 시스템</h5>
        <li>1. 모든 게시물은 이용자의 신고를 기반으로 하는 신고처리 시스템을 통해 처리됩니다. 커뮤니티 이용규칙에 어긋난다고 판단되는 글, 댓글, 게시판, 1:1 대화를 발견하셨을 경우, 신고 버튼을 눌러 신고해주시기 바랍니다.</li>
        <li>2. 커뮤니티 이용규칙에 어긋나거나, 다른 이용자에게 신고를 받을 수 있는 게시물을 작성해서는 안됩니다. 신고 누적으로 인해 발생한 피해는 어떠한 경우에도 책임을 지지 않습니다.</li>
        <li>3. 커뮤니티 이용규칙을 위반하거나 신고가 누적된 이용자는 작성한 게시물이 삭제될 수 있으며, 최대 5년까지의 글쓰기 제한, 1:1 대화 이용 제한, 접근 제한 등의 제재가 가해집니다. 단, 정보통신망법에 반하는 홍보 행위, 청소년유해매체물 게시 행위, 불법 행위 등 중대한 이용규칙 위반의 경우, 즉시 5년의 전체 서비스 접근 제한이 가해집니다.</li>
        <li>4. 모든 처리는 신고처리 시스템을 통하므로, 신고자 및 신고 사유를 확인하거나 접근 제한을 해제하는 것은 불가능합니다.</li>
        <li>5. 신고 시, 처리를 위해 게시물 및 1:1 대화의 일부가 일시적으로 저장될 수 있습니다.</li>
        <br><br><br>
        <h5>유출방지 시스템</h5>
        <li>1. 커뮤니티 이용 시, 게시물을 복사, 스크린샷 등을 통해 외부로 유출해서는 안 됩니다. 게시물 유출 피해를 방지하기 위해, 유출방지 시스템이 실시간으로 동작하여 게시물 유출을 감지하고 있습니다.</li>
        <li>2. 유출방지 시스템을 통해 게시물 유출이 적발될 경우, 5년의 전체 서비스 접근제한이 가해집니다. 만약 게시물 유출을 발견하셨을 경우, 게시물 유출 신고를 통해 신고해주시기 바랍니다.</li>
        <li>3. 이용자는 게시물 유출 행위로 인해 발생한 모든 피해에 대한 민형사상 책임과 손해를 배상할 책임이 있습니다.</li>
        <br><br><br>
        <h5>금지 행위</h5>
        다음 목록에 해당하는 게시물 작성, 악용 행위를 금지하고 있습니다.
        <li>1. 예의범절에 어긋나는 행위</li>
        <ol>
            <li>ㆍ 타인 또는 특정단체·지역에 대한 욕설, 악담, 비방, 비하, 비아냥</li>
            <li>ㆍ 내용·결말을 발설하거나, 혐오를 불러일으키거나, 속이거나, 놀라게 하는 행위</li>
            <li>ㆍ 과도한 정치·종교 연관 행위</li>
        </ol>
        <li>2. 미풍양속에 어긋나는 행위</li>
        <ol>
            <li>ㆍ 외설, 음란물, 음담패설, 신체사진 등 청소년유해매체물 게시</li>
            <li>ㆍ 불건전한 모임, 대화, 통화 등 온·오프라인 만남</li>
            <li>ㆍ 유흥 관련 정보 공유, 매매·알선 행위 등 불법 행위</li>
        </ol>
        <li>3. 정보통신망법에 반하는 홍보 행위</li>
        <ol>
            <li>ㆍ 기업·비영리기관·개인·단체의 직간접적 광고·홍보·판매 행위</li>
            <li>ㆍ 계정 공유 요청, 홍보 요청, 바이럴 이벤트 등 게시물 대리 작성 행위</li>
            <li>ㆍ 공모전, 대외활동, 이벤트, 아카데미, 채용, 행사, 강연, 공연, 영화 홍보</li>
            <li>ㆍ 교육, 의료, 식당, 부동산, 배달, 공유 사업 홍보</li>
            <li>ㆍ 어플리케이션, 웹사이트, 블로그, 카페, 서비스 홍보</li>
            <li>ㆍ 구독, 좋아요, 학우 참여, 모집, 링크 클릭, 추천인 입력, 앱 설치, 회원가입 요청</li>
            <li>ㆍ 공동구매, 펀딩, 기부금품 요청 행위</li>
            <li>ㆍ 타 광고·홍보·판매 관련 게시물 일체</li>
        </ol>
        <li>4. 불법 행위</li>
        <ol>
            <li>ㆍ 초상권, 저작권 침해 등 타인의 권리를 침해하는 행위</li>
            <li>ㆍ 커뮤니티 유출, 시스템 해킹, 게시물 크롤링 등 커뮤니티에 악영향을 주는 행위</li>
            <li>ㆍ 운영자 또는 이에 준하는 자격을 사칭하여 권한을 행사하는 행위</li>
            <li>ㆍ 암표 등 수익 목적의 재판매 행위</li>
            <li>ㆍ 기타 관련 법률에 위배되는 행위</li>
        </ol>
        <li>5. 기타 위 목록의 행위와 동일하거나 비슷한 목적을 달성하기 위한 행위 일체</li>
    </div>
</th:block>

</html>