<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" dir="ltr" layout:decorate="~{layout/basicTemp}">

<th:block layout:fragment="title">
  <title>Web</title>
</th:block>

<th:block layout:fragment="content">
  <div id="article">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" style="color:#0D3F7A">최근 등록된 매칭</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>
            </tr>
            <tr>
              <th scope="row">4</th>
            </tr>
            <tr>
              <th scope="row">5</th>
            </tr>
            <tr>
              <th scope="row">6</th>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" style="color:#0D3F7A">실시간 검색어</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>
            </tr>
            <tr>
              <th scope="row">4</th>
            </tr>
            <tr>
              <th scope="row">5</th>
            </tr>
            <tr>
              <th scope="row">6</th>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" style="color:#0D3F7A">Hot 게시물</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>
            </tr>
            <tr>
              <th scope="row">4</th>
            </tr>
            <tr>
              <th scope="row">5</th>
            </tr>
            <tr>
              <th scope="row">6</th>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" style="color:#0D3F7A">학과 강의평가</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>
            </tr>
            <tr>
              <th scope="row">4</th>
            </tr>
            <tr>
              <th scope="row">5</th>
            </tr>
            <tr>
              <th scope="row">6</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>