<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" , initial-scale="1">
  <title>이성욱</title>
  <link rel="stylesheet" href="/test/css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script rel="JavaScript" href="/test/js/bootstrap.js">
  </script>
  <script>

  </script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
      <a class="navbar-brand" href="index.html">나만 따라 YU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id ="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href = "#" onclick="alert('로그인하세요.')">매칭</a></li>
          <li class="nav-item"><a class="nav-link" href = "#" onclick="alert('로그인하세요.')">시간표</a></li>
          <li class="nav-item"><a class="nav-link" href = "#" onclick="alert('로그인하세요.')">강의평가</a></li>
          <li class="nav-item"><a class="nav-link" href = "#" onclick="alert('로그인하세요.')">게시판</a></li>
          <li class="nav-item"><a class="nav-link" href = "#" onclick="alert('로그인하세요.')">통계그래프</a></li>
          <li>
            <form class="input-group">
            <input class="form-control mr-sm-3" type="search" placeholder="검색어를 입력해주세요." aria-label="Search">
            <button class="btn glass" type="submit"><img src="/test/images/돋보기.png" width="100%"></button>
          </form>
          </li>
          <li>
            <form class="form-signin" method="post" action="/loginProcess" style="margin:auto;">
              <label for="username" class="sr-only">Email address</label>
              <input type="text" name="username" id="username" class="form-control" placeholder="학번을 입력해주세요." required autofocus>
              <label for="password" class="sr-only">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력해주세요." required>
              <button class="btn btn-sm btn-block" type="submit" style="background:#0D3F7A; color:white;">로그인</button>
              <button class="btn btn-sm btn-block btn btn-secondary" type="button" onclick="location.href='http://portal.yu.ac.kr/sso/login.jsp?type=home&cReturn_Url=http%3A%2F%2Fwww.yu.ac.kr%2Findex.php'">비밀번호 찾기</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>


  <div class="row flex">
    <div class="col-2 item">
      <a href="index.html"><img src="/test/images/영대마크.png" href="#page-top"></a>
    </div>
    <div class="col-7 item">
      <form class="input-group">
        <input class="form-control mr-sm-2" type="search" placeholder="검색어를 입력해 주세요." aria-label="Search">
        <button class="btn glass" type="submit"><img src="/test/images/돋보기.png" width="100%"></button>
      </form>
    </div>
    <div class="col-3 item">
      <form class="form-signin" method="post" action="/loginProcess" style="margin:auto;">
        <label for="username" class="sr-only">Email address</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="학번을 입력해주세요." required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력해주세요." required>
        <button class="btn btn-sm btn-block" type="submit" style="background:#0D3F7A; color:white;">로그인</button>
        <button class="btn btn-sm btn-block btn btn-secondary" type="button" onclick="location.href='http://portal.yu.ac.kr/sso/login.jsp?type=home&cReturn_Url=http%3A%2F%2Fwww.yu.ac.kr%2Findex.php'">비밀번호 찾기</button>
      </form>
    </div>
  </div>

  <br>

  <div id="grid">
    <div id="menubar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="alert('로그인하세요.')" tabindex="-1" aria-disabled="true">매칭</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" onclick="alert('로그인하세요.')" tabindex="-1" aria-disabled="true">시간표</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" onclick="alert('로그인하세요.')">강의평가</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#" onclick="alert('로그인하세요.')" tabindex="-1" aria-disabled="true">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" onclick="alert('로그인하세요.')">통계 그래프</a>
        </li>
      </ul>
    </div>
    <br>
    <div id="article">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="color:#0D3F7A">최근 등록된 매칭</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                </tr>
                <tr>
                  <th scope="row">2</th>
                </tr>
                <tr>
                  <th scope="row">3</th>
                </tr>
                <tr>
                  <th scope="row">4</th>
                </tr>
                <tr>
                  <th scope="row">5</th>
                </tr>
                <tr>
                  <th scope="row">6</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="color:#0D3F7A">실시간 검색어</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                </tr>
                <tr>
                  <th scope="row">2</th>
                </tr>
                <tr>
                  <th scope="row">3</th>
                </tr>
                <tr>
                  <th scope="row">4</th>
                </tr>
                <tr>
                  <th scope="row">5</th>
                </tr>
                <tr>
                  <th scope="row">6</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="color:#0D3F7A">Hot 게시물</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                </tr>
                <tr>
                  <th scope="row">2</th>
                </tr>
                <tr>
                  <th scope="row">3</th>
                </tr>
                <tr>
                  <th scope="row">4</th>
                </tr>
                <tr>
                  <th scope="row">5</th>
                </tr>
                <tr>
                  <th scope="row">6</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="color:#0D3F7A">학과 강의평가</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                </tr>
                <tr>
                  <th scope="row">2</th>
                </tr>
                <tr>
                  <th scope="row">3</th>
                </tr>
                <tr>
                  <th scope="row">4</th>
                </tr>
                <tr>
                  <th scope="row">5</th>
                </tr>
                <tr>
                  <th scope="row">6</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-dark mt-3 p-3 text-center" style="color: #FFFFFF;">
      <div class="row">
        <div class="col-2"><a href="#"></a>이용약관</div>
        <div class="col-2"><a href="#"></a>개인정보처리방침</div>
        <div class="col-2"><a href="#"></a>커뮤니티이용규칙</div>
        <div class="col-2"><a href="#"></a>공지사항</div>
        <div class="col-2"><a href="#"></a>문의하기</div>
        <div class="col-2">(주)나만따라YU</div>
      </div>
  </footer>
</body>

</html>
