<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}" dir="ltr">

<th:block layout:fragment="title">
	<title>YU Main</title>
</th:block>

<th:block>
    <div th:if="${studentInfo} == null" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">최초 로그인창</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5>최초 로그인시 입력이 필요합니다!</h5>
              <h5>입력하신 정보는 "내 정보"에서 수정가능합니다.</h5>
             <form>
              	<div class="form-group" style="display:none">
					<input type="hidden" id="sid" name="sid" class="form-control" th:value="${userSid}" required="required" readonly/>
				</div>
				
				<div class="form-group">
					<label for="department" class="col-form-label"><h5>학과</h5></label>
					<input type="text" id="department" name="department" class="form-control" placeholder="학과 입력" required="required"/>
				</div>
				
                <div class="form-group">
                  <label for="nickName" class="col-form-label"><h5>닉네임</h5></label>
                  <input type="text" id="nickname" name="nickname" class="form-control" placeholder="닉네임 입력" required="required" />
                </div>
                
                <div class="form-group">
                  <label for="yourEmail" class="col-form-label"><h5>이메일</h5></label>
                  <input type="text" id="email" name="email" class="form-control" placeholder="이메일 입력" required="required"/>
                </div>

				<div class="form-group">
						<label for="phoneNumber" class="col-form-label">휴대폰 번호</label>
						<input type="number" min="0" id="phonenum" name="phonenum" class="form-control" placeholder="번호 입력" required="required"/>
						<button type="button" id="sendPhoneNumber" class="btn btn-primary">인증받기</button>
				</div>
				

				<div class="form-group">
					<label for="certificationNumber" class="col-form-label">인증 번호</label>
					<input type="number" min="0" id="CertifiedNumber" class="form-control" placeholder="인증번호 입력" required="required"/>
					<button type="button" id="checkBtn" class="btn btn-primary">체크</button>
				</div>

              
              <br><br>
              <p><h5>성별</h5></p>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="genM" name="gen" value="M" required="required">
                        <label class="custom-control-label" for="gender-1">남자  </label>
                </div>
                <div class="custom custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="genF" name="gen" value="F" required="required">
                        <label class="custom-control-label" for="gender-2">여자</label>
                </div>
              <p><h5>학년</h5></p>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="syear1" name="syear" value="1" required="required">
                  <label class="custom-control-label" for="grade-1">1</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="syear2" name="syear" value="2" required="required">
                  <label class="custom-control-label" for="grade-2">2</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="syear3" name="syear" value="3" required="required">
                  <label class="custom-control-label" for="grade-3">3</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="syear4" name="syear" value="4" required="required">
                  <label class="custom-control-label" for="grade-4">4</label>
                </div>
              </form>
            <!--    <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" name="job" id="job-1" class="custom-control-input">
                  <label class="custom-control-label" for="job-1">대학생</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" name="job" id="job-2" class="custom-control-input">
                  <label class="custom-control-label" for="job-2">대학원생</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" name="job" id="job-3" class="custom-control-input">
                  <label class="custom-control-label" for="job-3">졸업생</label>
                </div>-->
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
              </div>
            </div>
          </div>
        </div>
</th:block>

<th:block layout:fragment="article">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" style="color:#0D3F7A">최근 등록된 매칭</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>
            </tr>
            <tr>
              <th scope="row">4</th>
            </tr>
            <tr>
              <th scope="row">5</th>
            </tr>
            <tr>
              <th scope="row">6</th>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" style="color:#0D3F7A">실시간 검색어</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="word, num: ${searchRankingList}" th:if="${num.count} < 7">
              <th scope="row">[[${num.count}]] [[${word.getWord()}]]
               <b th:if="${word.getRankingchange()} == 20">NEW</b>
               <b th:unless="${word.getRankingchange()} == 20">[[${word.getRankingchange()}]]</b>
              </th>
            </tr>
            <tr th:if="${searchRankingList.size()} == 0">
            	<th>실시간 검색어가 없습니다</th>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" style="color:#0D3F7A">Hot 게시물</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>
            </tr>
            <tr>
              <th scope="row">4</th>
            </tr>
            <tr>
              <th scope="row">5</th>
            </tr>
            <tr>
              <th scope="row">6</th>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" style="color:#0D3F7A">학과 강의평가</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>
            </tr>
            <tr>
              <th scope="row">4</th>
            </tr>
            <tr>
              <th scope="row">5</th>
            </tr>
            <tr>
              <th scope="row">6</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</th:block>
</html>