<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}" dir="ltr">

<th:block layout:fragment="title">
	<title>YU Main</title>
</th:block>

<th:block layout:fragment="article">
      <div th:if="${studentInfo} == null">
        <div class="container-fluid">
        <div class="card bg-light mt-3">
          <div class="card-header bg-light">
            <h2>최초 로그인</h2>
            <br>
            <div class="row">
              <div class="col-8 text-left">최초 로그인시 입력이 필요합니다! </div>
              <div class="col-8 text-left">입력하신 정보는 "내 정보"에서 수정가능합니다.</div>
            </div>
          </div>
         <form id="infoForm" name="infoForm" onSubmit='return dataSend()' method="post">
         	<input type="hidden" id="sid" name="sid" class="form-control" th:value="${userSid}" required="required" readonly/>
          <div class="card-header bg-light">
            <div class="row">
              <div class="form-group">
                  <label for="department" class="col-form-label"><h5>학과</h5></label>
                  <input type="text" id="department" name="department" class="form-control" placeholder="학과 입력" required="required"/>
              </div>
            </div>
          </div>
          <div class="card-header bg-light">
            <div class="row">
              <div class="form-group">
                  <label for="nickName" class="col-form-label"><h5>닉네임</h5></label>
                  <input type="text" id="nickname" name="nickname" class="form-control" placeholder="닉네임 입력" required="required"/>
              </div>
            </div>
          </div>
          <div class="card-header bg-light">
            <div class="row">
              <div class="form-group">
                  <label for="yourEmail" class="col-form-label"><h5>이메일</h5></label>
                   <input type="text" id="email" name="email" class="form-control" placeholder="이메일 입력" required="required"/>
              </div>
            </div>
          </div>

          <div class="card-header bg-light">
            <div class="row">
              <div class="form-group">
                <label for="phoneNumber" class="col-form-label"><h5>휴대폰 번호</h5></label>
                <input type="text" id="phonenum" name="phonenum" class="form-control" placeholder="번호 입력" required="required"/>
                <button type="button" id="sendPhoneNumber" class="btn btn-primary">인증받기</button>
              </div>
            </div>
          </div>

          <div class="card-header bg-light">
            <div class="row">
              <div class="form-group">
                <label for="certificationNumber" class="col-form-label"><h5>인증 번호</h5></label>
                <input type="text" id="CertifiedNumber" class="form-control" placeholder="인증번호 입력" required="required"/>
                <button type="button" id="checkBtn" class="btn btn-primary">체크</button>
              </div>
            </div>
          </div>
          <div class="card-header bg-light">
            <div class="row">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <label class="input-group-text" for="gender">성별</label>
                  </div>
                  <select class="custom-select" id="gen" name="gen">
                    <option value="select" selected>성별을 선택해주세요</option>
                    <option value="M">남자</option>
                    <option value="F">여자</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header bg-light">
            <div class="row">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-append bg-light">
                    <label class="input-group-text" for="grade">학년</label>
                  </div>
                  <select class="custom-select" id="syear" name="syear">
                    <option value="select" selected>학년을 선택해주세요</option>
                    <option value="1">1학년</option>
                    <option value="2">2학년</option>
                    <option value="3">3학년</option>
                    <option value="4">4학년</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="button_group" class="btn-form">
              <button type="submit" class="btn btn-primary float-right" style="margin-right:5px;">등록</button>
              <button class="btn btn-primary float-right" style="margin-right:5px;" onclick="location.href='/yu/logout'">취소</button>
            </div>
          </div>
		</form>
        </div>
      </div>
    </div>
</th:block> 

<th:block layout:fragment="script">
<script type="text/javascript">
	$(document).ready(function() {
    $('#exampleModal').modal('show');
   });
	
	function dataSend() {
		//var gender = $(":input:radio[name=gen]:checked").val();
		var queryString = $("form[name=infoForm]").serialize();
		//JSON.stringify($("form[name=infoForm]").serializeObject());
   	 /*var messageDTO={
       	 result:data
   	};*/
   	//alert(queryString);
   		var gen = $("#gen");
   		var syear = $("#syear");
   		
   		if($("#nickname").val().length < 2 || $("#nickname").val().length > 12) {
   			alert("닉네임은 2자 이상 12자 이하 입니다");
   			$("#nickname").focus();
   			return false;
   		}
   		else if(gen.val() == "select") {
   			alert("성별을 선택해 주세요");
   			gen.focus();
   			return false;
   		}
   		else if(syear.val() == "select") {
   			alert("학년을 선택해 주세요");
   			syear.focus();
   			return false;
   		}
   	
		if(!$('#CertifiedNumber').prop("readonly")){
			alert("휴대폰 인증을해주세요");
			return false;
		}
    	$.ajax({
    	    type: "POST",
    	    url : "/yu/studentInfo/studentRegistrationData",
    	    /*data : { sid : $("#sid").val(),
    	             department : $("#department").val(),
    	             syear : $("#syear").val(),
    	             nickname : $("#nickname").val(),
    	             email : $("#email").val(),
    	             gen : gender
    	    },*/
    	    data : queryString,
    	    //contentType:'application/json; charset=utf-8',
    	    //contentType:'application/x-www-form-urlencoded; charset=utf-8',
    	    //datatype : 'json',
    	    success : function(data){
    	    	if(data == true) {
    	        	alert("등록 성공, 재로그인 해주세요.");
    	        	location.href='/yu/logout';
    	    	}
    	    	else
    	    		alert("등록 실패");
    	    },error : function(){
    	        alert("Error");
    	        return false;
    	    }
    	});
   		return false;
	}
	
	$('#sendPhoneNumber').click(function(){
		let phoneNumber = $('#phonenum').val();
		var regPhone = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;
		if(!regPhone.test(phoneNumber)){
			alert("휴대폰번호를 입력해주세요");
			return false;
		}
		alert("인증번호 요청완료");

		$.ajax({
			type: "GET",
			url: "/check/sendSMS",
			data: {
				phoneNumber : phoneNumber
			},
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			success: function(res){
				$('#checkBtn').click(function(){
					if(res ==$('#CertifiedNumber').val()){
						alert("인증성공");
						$('#CertifiedNumber').attr("readonly",true);
						$('#phonenum').attr("readonly",true);
					}else{
						alert("인증실패");
					}
				})
			}
		})
	});
</script>
 </th:block>
</html>