<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic}">

<th:block layout:fragment="script">
<script type="text/javascript">
	function foo(){
		alert('서브밋!');
	}
	
	function dataSend() {
    	var sid = $("#sid").val();	// id
    	if(sid == "") sid = " ";
 
   	 /*var messageDTO={
       	 result:data
   	};*/
    	$.ajax({
        	url: "/studentInfo/getStudentInfo",
       	 	data: sid,
        	type: "POST",
        	contentType:'application/json; charset=utf-8',
     	   	datatype : 'json',
        	success: function(fragment){
        		if(fragment == "") {
        			$("#resTA").val("정보 없음");
        		}
        		else {
        			var str = fragment.nickname + "\r\n";
        			str += fragment.department + "\r\n";
        			str += fragment.email + "\r\n";
        			str += fragment.gen + "\r\n";
        			str += fragment.first_login + "\r\n";;
        			str += fragment.update_time;
        			$("#resTA").val(str);
        		}
        	},
        	error: function() {
        		alert("Error");
        	}
        })
	}
	
	function getStudentCount() {
    	$.ajax({
        	url: "/studentInfo/getStudentCount",
        	type: "POST",
        	success: function(fragment){
        		if(fragment == 0)
        			$("#count").val("없음");
        		else
        			$("#count").val(fragment);
        	},
        	error: function() {
        		alert("Error");
        	}
        })
	}
	
	function updateStudentNickname() {
		var sid = $("#sid").val();
		var nickname = $("#modifiedNickname").val();
		if(sid == "") {
			alert("학번 입력");
			$("#sid").focus();
			return false;
		}
		if(nickname == "") {
			alert("닉네임 입력");
			$("#modifiedNickname").focus();
			return false;
		}
		
    	$.ajax({
        	url: "/studentInfo/updateStudentNickname",
        	data : { sid : sid,
        		nickname : nickname
        	},
            department : $("#department").val(),
        	type: "PUT",
        	success: function(fragment){
        		alert(fragment);
        	},
        	error: function() {
        		alert("Error");
        	}
        })
        return true;
	}
	
	function updateStudentEmail() {
		var sid = $("#sid").val();
		var email = $("#modifiedEmail").val();
		if(sid == "") {
			alert("학번 입력");
			$("#sid").focus();
			return false;
		}
		if(email == "") {
			alert("이메일 입력");
			$("#modifiedEmail").focus();
			return false;
		}
		
    	$.ajax({
        	url: "/studentInfo/updateStudentEmail",
        	data : { sid : sid,
        		email : email
        	},
        	type: "PUT",
        	success: function(fragment){
        		if(fragment == true)
        			alert("이메일 변경 완료");
        		else
        			alert("이메일 변경 실패");
        	},
        	error: function() {
        		alert("Error");
        	}
        })
        return true;
	}
</script>
 </th:block>
	<th:block layout:fragment="title">
		<title>Student Information</title>
	</th:block>
	
	<th:block layout:fragment="nav-title">
		<div class="fixed-navbar">
			<div class="pull-left">
				<h1 class="page-title">Student Information</h1>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="content">
		<div><h2 style="color:Blue">Student Information</h2></div>
		<br><br>
		<div class="card-content">
			<div>
				<label class="col-sm-2 control-label">설정1</label>
				<div class="col-sm-10" style="margin-top: 10px;">
					<input type="checkbox"/>
				</div>
			</div>

			<div>
				<label for="secretYn" class="col-sm-2 control-label">설정2</label>
				<div class="col-sm-10" style="margin-top: 10px;">
					<input type="checkbox" id="secretYn" name="secretYn"/>
				</div>
			</div>

			<div>
				<label for="title" class="col-sm-2 control-label">학생 수</label>
				<div class="col-sm-10">
					<input type="text" id = "count" th:value="${count}" name = "count" class="form-control" readonly />
				</div>
			</div>
			
			<div>
				<label for="writer" class="col-sm-2 control-label">학번</label>
				<div class="col-sm-10" >
					<input type="text" name = "sid" id = "sid" class="form-control" placeholder="학번을 입력해 주세요" required="required"/>
				</div>
			</div>
			
			<div>
				<label for="title" class="col-sm-2 control-label">변경할 닉네임</label>
				<div class="col-sm-10">
					<input type="text" id = "modifiedNickname"  name = "modifiedNickname" class="form-control" placeholder="닉네임 입력" />
					<button type="button" onClick="return updateStudentNickname()" class="btn btn-primary waves-effect waves-light">닉네임 변경</button>
				</div>
			</div>
			
			<div>
				<label for="title" class="col-sm-2 control-label">변경할 이메일</label>
				<div class="col-sm-10">
					<input type="text" id = "modifiedEmail"  name = "modifiedEmail" class="form-control" placeholder="이메일 입력" />
					<button type="button" onClick="return updateStudentEmail()" class="btn btn-primary waves-effect waves-light">이메일 변경</button>
				</div>
			</div>
				
			<div>
				<label for="content" class="col-sm-2 control-label">내용</label>
				<div class="col-sm-10">
					<textarea id = "resTA" th:inline="text" class="form-control" placeholder="내용은 여기에" readonly></textarea>
				</div>
			</div>

			<div>
				<button type="button" onClick="dataSend()" class="btn btn-primary waves-effect waves-light">검색</button>
				<button type="button" onClick="getStudentCount()" class="btn btn-primary waves-effect waves-light">학생 수</button>
				<button th:if="${userSid} != null" type="button" onClick="location.href='/logout'" class="btn btn-primary waves-effect waves-light">로그아웃</button>
				<button th:unless="${userSid} != null" type="button" onClick="location.href='/login'" class="btn btn-primary waves-effect waves-light">로그인</button>
				<button type="button" onClick="location.href='/board/boardList?boardtype=자유게시판'" class="btn btn-primary waves-effect waves-light">게시판</button>
			</div>
		</div>
		<!-- /.card-content -->
	</th:block>
</html>